@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Inter', sans-serif,serif;
}
body{
    overflow-x: hidden;
}
header{
    position: fixed;
    width: 100%;
    z-index: 10;
    height: 80px;
    background: black;
    transition: .3s;
}
header nav{
    display: flex;
    justify-content: space-between;
    width: 1680px;
    max-width: 100%;
    height: 100%;
  
    padding: 0px 25px 0 25px;
    margin: 0 auto;
    align-items: center;
}
header nav ul{
    display: flex;
    align-items: center;
    gap: 20px;
    height: 100%;
}
header nav ul.nav{
  position: relative;
}
header nav .nav .framefix-features{
    padding: 18px 21px;
    height: 100%;
}
header nav ul a{
    height: 100%;
    width: auto;
    height: 100%;
}
header nav ul li{
    transition: .3s;
    height: 100%;
    
    padding: 18px 21px;
    
    align-items: center;
    display: flex;
    color: rgba(255,255,255,.8);
    font-size: 16px;
    letter-spacing: 0.03em;
    font-weight: 600;
    text-transform: capitalize;
}
header nav ul a li:hover{
    color: rgba(255,255,255,1);
}
.start-link .nav-f-link >div{
    border-radius: 10px;
    padding: 12px 18px;
    color: #fff;
    font-weight: 600;
    background: #4A96FE;
    box-shadow: 0 4px 4px rgba(8,8,8,.08),0 1px 2px rgba(8,8,8,.2),inset 0 6px 12px rgba(255,255,255,.12),inset 0 1px 1px rgba(255,255,255,.2);

}
#navigation-live{
    position: absolute;
    bottom: 0;
    height: 2px;
    background: rgba(255,255,255,.8);
    border-radius :5px;
}
::-webkit-scrollbar{
  width: 0;
}
#move-line{
    position: absolute;
    bottom: 0;
    background: #fff;
    left: 0;
    height: 2px;
    transition: left 0.3s ease, width 0.3s ease;
}


footer{
    width: 100vw;
    height: 100%;
    background: red;
    padding-top: 20vh;
}
footer .f-wrapper{
    width: 1680px;
    margin: 0 auto;
    max-width: 100%;
    padding: 25px;

}
