/* sign.module.css */
.signInContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 100vh; /* Full height of the viewport */
}
.signInContainer  .b{
    position: absolute;
    width: 150vw;
    height: 300px;
    background: #000;
    left: -100px;
    bottom: -200px;
    filter: blur(35px);
}
.signInContainer .wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    background: linear-gradient(120deg, #00c9ff 50%,#92fe9d 100%);
    grid-template-columns: repeat(2,1fr);
    position: relative;
}
.signInContainer .wrapper .signin{
    background: #000;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    padding: 25px;
    
}
.signInContainer .wrapper .signin .wrap .titles .title h1{
    font-size: 3em;
    
}
.signInContainer .wrapper .signin .wrap .titles .subTitle {
    padding-top: 15px;
}
.signInContainer .wrapper .signin .wrap .titles .subTitle p{
    font-size: 1.25em;
    color: rgba(255,255,255,.5);
    font-weight: 500;
}
.signInContainer .wrapper .signin .wrap{
    width: auto;
    height: auto;
}
.signInContainer .wrapper .signin .wrap .form{
    margin-top: 3em;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.signInContainer .wrapper .signin .wrap .form .labelInput{
    width: 100%;
    height: 60px;
}
.signInContainer .wrapper .signin .wrap .form .labelInput > .uInput{
    width: 100%;
    height: 100%;
    padding: 8px 12px;
    font-size: 1.13em;
    border-radius: 5px;
    border: 0px solid transparent;
    background: #171717;
    outline: none;
    color: rgba(255,255,255,.8);
    transition: .25s;
    font-weight: 500;
}
.signInContainer .wrapper .signin .wrap .form .labelInput > .uInput:focus{
    border: 1px solid #459AFF;
}
.signInContainer .wrapper .signin .wrap .form .submit{
    height: 60px;
    font-weight: bold;
    color: rgba(255,255,255,1);
    background: #459AFF;
    border-radius: 5px;
    font-size: 1.13em;
    outline: none;
    border: none;
    filter: hue-rotate(0deg);
    padding: 8px 12px;
    transition: .25s;
    cursor: pointer;
    box-shadow: 0 4px 4px rgba(8,8,8,.08),0 1px 2px rgba(8,8,8,.2),inset 0 6px 12px rgba(255,255,255,.12),inset 0 1px 1px rgba(255,255,255,.2);

}
.signInContainer .wrapper .signin .wrap .form .submit:hover{
    filter: hue-rotate(90deg);
    
}
.signInContainer .wrapper .signin .wrap .orGoogle .or{
    margin-top: 2.25em;
    width: 100%;
    margin-bottom: 2.25em;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
}
.signInContainer .wrapper .signin .wrap .orGoogle .or>.line{
    width: 100%;
    height: 1px;
    background-color: rgba(255,255,255,.2);
}
.signInContainer .wrapper .signin .wrap .orGoogle .or>.VsOr{
    color: rgba(255,255,255,.2);
    user-select: none;
}
.signInContainer .wrapper .signin .wrap .orGoogle .loginGoogle{
    width: 100%;
    height: 60px;
}
.signInContainer .wrapper .signin .wrap .orGoogle .loginGoogle .signInButton{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    color: rgba(255,255,255,1);
    background: #171717;
    outline: none;
    border: none;
    font-size: 1.13em;
    font-weight: 600;
    cursor: pointer;
    transition: .25s;
    overflow: hidden;
    padding: 8px 12px;
    box-shadow: 0 4px 4px rgba(8,8,8,.08),0 1px 2px rgba(8,8,8,.2),inset 0 6px 12px rgba(255,255,255,.12),inset 0 1px 1px rgba(255,255,255,.2);

}
.signInContainer .wrapper .signin .wrap .orGoogle .loginGoogle .signInButton:hover{
    background: #Fff;
    color: rgba(22,22,22,.8);
}
.signInContainer .wrapper .views{
    width: 100%;
    height: 100%;
    padding: 25px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
    align-items: flex-end;
}
.signInContainer .wrapper .views .canvas{
    position: absolute;
    width: 100%;
    height: 100%;
    left: -2vw;
    
}
.signInContainer .wrapper .views .canvas svg{
    height: 100%;
    width: 120vh;
}
.signInContainer .wrapper .views  .viewFrameFix{
    width: 100%;
    height: 80%;
    background: #0D131D;
    position: relative;
    left: 5vw;
    outline: 25px solid rgba(255,255,255,.25);
    border-radius: 15px;
    backdrop-filter: blur(35px);
    overflow: hidden;
}
.signInContainer .wrapper .views  .viewFrameFix .head {
    width: 100%;
    height: 60px;
    background: #000;
    border-radius: inherit;
    border-bottom-left-radius: 0;
    display: flex;
    padding: 10px 15px;
    overflow: hidden;
    justify-content: space-between;
    gap: 35px;
    align-items: center;
}
.signInContainer .wrapper .views  .viewFrameFix .head .projectName{
    display: flex;
    gap: clamp(10px, 0.5vw, 0.5vw);
    align-items: center;
}
.signInContainer .wrapper .views  .viewFrameFix .head .projectName .fLogo {
    height: 100%;
    display: flex;
    align-items: center;
}
.signInContainer .wrapper .views  .viewFrameFix .head .projectName .fLogo svg{
    height: 35px;
    vertical-align: middle;
}
.signInContainer .wrapper .views  .viewFrameFix .head .projectName .name{
    white-space: nowrap;
}
.signInContainer .wrapper .views  .viewFrameFix .head .projectName .name p{
    color: rgba(255,255,255,1);
    font-size: 14px;
}
.signInContainer .wrapper .views  .viewFrameFix .head .projectName .name p span{
    color: rgba(255,255,255,.35);
}
.signInContainer .wrapper .views  .viewFrameFix .head .projectName .name p svg{
    padding-left: 3px;
}
.signInContainer .wrapper .views  .viewFrameFix .head .tools{
    display: flex;
    align-items: center;
    height: 100vh;
    gap: 20px;
}
.signInContainer .wrapper .views  .viewFrameFix .head .tools .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.signInContainer .wrapper .views  .viewFrameFix .head .tools .icon.selected{
    border-radius: 5px;
    background: #459AFF;
}
.signInContainer .wrapper .views  .viewFrameFix .head .tools .icon svg{
    vertical-align: middle;
    height: 20px;
    width: auto;
}
.signInContainer .wrapper .views  .viewFrameFix .head .tools .icon svg:nth-child(2){
    height: 5px;
}
.signInContainer .wrapper .views  .viewFrameFix .head .tools .icon:last-child svg{
    width: 25px;
    height: auto;
}
.signInContainer .wrapper .views  .viewFrameFix .head .tools .icon:nth-child(1){
    padding: 10px 12px;
}
.signInContainer .wrapper .views  .viewFrameFix .head .tools .icon:nth-child(1) svg{
    position: relative;
    left: 2px;
}
.signInContainer .wrapper .views  .viewFrameFix .contents{
    display: flex;
    width: 100%;
    height: 100%;
}
.signInContainer .wrapper .views .viewFrameFix .contents .sideAssetsContain{
    height: 100%;
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
    padding: 12px 15px;
    background: #000;
}
.signInContainer .wrapper .views .viewFrameFix .contents .sideAssetsContain .plugin {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.signInContainer .wrapper .views .viewFrameFix .contents .sideAssetsContain .plugin p{
    color: rgba(255,255,255,1);
    font-weight: 500;
    font-size: 14px;
}
.signInContainer .wrapper .views .viewFrameFix .contents .content{
    
}