
section.main .wrapper .main-framefix .frame .canvas{
    position: relative;
}
section.main .wrapper .main-framefix .frame .canvas .main-editor{
    border-radius: 10px;
}
section.main .wrapper .main-framefix .frame .canvas svg{
    width: 100%;

}