.titles{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 8em;
}
.titles > div.logo{
    padding-bottom: 35px;
}
.titles > div h1{
    color: rgba(255,255,255,1);
    font-size:5em;
    text-align: center;
    letter-spacing: 1px;
    max-width: 900px;
}
.section-i{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-bottom: 10vh;
}
.section-i.f-a{
    z-index: 5;
}
.section-i.f-b{
    z-index: 4;
}
.section-i.f-c{
    z-index: 3;
}
#section-gsap{
    width: 100%;
    height: 100%;
}
.section-i>div{
    width: 100%;
    height: auto;
    display: grid;
    gap: 5em;
    grid-template-columns: repeat(2,1fr);
    align-items: center;

}
.section-i.f-c .txt h1{
    max-width: 600px;
}
.section-i.f-b .txt h1{
    max-width: 750px;
}
.section-i>div .txt{
    width: 100%;
}
.section-i>div .txt h1{
    color: white;
    font-size: 4.00em;
    font-size: 800;
    max-width: 700px;
}
.section-i>div .txt h1 span{
    color: #459AFF;
}
.section-i>div .txt .m-expl{
    display: flex;
    gap: 25px;
    padding-top: 5em;
    padding-bottom: 5em;
    align-items: center;

}
.section-i>div .txt .m-expl .progress-contain{
    width: 5px;
    min-width: 5px;
    height: 125px;
    background: rgba(69,154,255,.2);
    border-radius: 50px;
    overflow: hidden;
}
.section-i>div .txt .m-expl .progress-contain>.progress{
    width: 100%;
    background: #459AFF;
    border-radius: 50px;
    
}

.section-i>div .txt .m-expl .explain p.sub-title{
    padding-bottom: 20px;
    font-weight: 700;
    text-transform: capitalize;
    font-size: 1.25em;
    color: rgba(255,255,255,1);

}
.section-i>div .txt .m-expl .explain p{
    color: rgba(255,255,255,0.5);
    font-size: 1em;
    max-width: 500px;
    font-weight: 300;
    letter-spacing: 0.5px;
}
.section-i>div .txt .see-all a {
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    font-size: 1.25em;
    z-index: 5;
    position: relative;
    transition: .3s;
    padding: 15px 20px;
    border-radius: 5px;
    background: #459AFF;
    box-shadow: 0 1px 1px rgba(8,8,8,.08),0 1px 1px rgba(8,8,8,.2),inset 0 6px 12px rgba(255,255,255,.12),inset 0 1px 1px rgba(255,255,255,.2);

}
.section-i>div .txt .see-all a:hover{
    background: #E960FF;
}
.section-i .framefix{
    height: 700px;
    width: 100%;
    z-index: 10;
    margin-top: 35px;
    position: relative;
}
.section-i .framefix>.box{
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: 100%;
    border-radius: 15px;
    background: rgba(255,255,255,.1);
    padding: 15px;
    z-index: -1;

}
.section-i .framefix>.box > .contents{
    width: 100%;
    
    z-index: 111;
    height: 100%;
    background: #1b1b1b;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
}
.section-i.f-b .framefix>.box > .contents{
    background: #000;
}
.section-i .framefix>.box > .contents .assets{
    position: absolute;
    top: 60px;
    left: 0;
    height: 100%;
    width: 80px;
    display: flex;
}
.section-i .framefix>.box > .contents .assets>div{
    background: #000;
    height: 100%;
}
.section-i .framefix>.box > .contents .assets .category{
    width: 80px;
    border-right: 1px solid rgba(255,255,255,.1);
    min-width: 80px;
    display: flex;
    flex-direction: column;
}
.section-i .framefix>.box > .contents .assets .category>div{
    width: 100%;
    display: flex;
    padding-top: 12.5px;
    padding-bottom: 12.5px;
    flex-direction: column;
    align-items: center;
}
.section-i .framefix>.box > .contents .assets .category>div p{
    text-align: center;
    padding-top: 5px;
    font-size: 12px;
    text-transform: capitalize;
    font-weight: 500;
    color: rgba(255,255,255,1);
}
.section-i .framefix>.box > .contents .assets .category>div.plugin .button-icon svg{
    width: auto;
    height: 20px;
}
.section-i .framefix>.box > .contents .assets .c-plugins{
    width: 200px;
    min-width: 200px;
    box-shadow: 15px 0px 15px rgba(0,0,0,0.35);
    overflow: hidden;
}
.section-i .framefix>.box > .contents .assets .c-plugins>div{
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.section-i .framefix>.box > .contents .assets .c-plugins>div .p-i{
    width: 35px;
    height: 35px;
    min-width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
.section-i .framefix>.box > .contents .assets .c-plugins>div .t .title{
    font-weight: 600;
    color: rgba(255,255,255,1);
    font-size: 12px;
}
.section-i .framefix>.box > .contents .assets .c-plugins>div .t .sub-txt{
    font-size:9px;
    padding-top: 5px;
    color: rgba(255,255,255,.5);
}
.section-i .framefix>.box > .contents .assets .c-plugins>div .p-i.create{
    background: #A946FC;
}
.section-i .framefix>.box > .contents .assets .c-plugins>div .p-i.wireframe{
    background: rgba(69,154,255,.5);
}
.section-i .framefix>.box > .contents .assets .c-plugins>div .p-i.re-txt{
    background: rgba(255,183,75,.5);
}
.section-i .framefix>.box > .contents .assets .c-plugins>div .p-i.re-img{
    background: rgba(4,218,177,.5);
}
.section-i .framefix>.box > .contents .assets .c-plugins>div:nth-child(1){
    background: rgba(255,255,255,.1);
}
.section-i .framefix>.box > .contents .head{
    width: 100%;
    height: 60px;
    background: #000;
    padding: 12px 15px;
    position: relative;
    z-index: 10;
    border-bottom:  1px solid rgba(255,255,255,.1);
    display: flex;
    gap: 10px;
    align-items: center;
}
.section-i.f-b .head{
    
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.section-i.f-b .head>div{
    display: flex;
    gap: 10px;
    width: 100%;
}
.section-i .framefix>.box > .contents .head .frame-logo{
    display: flex;
    gap: 10px;
    align-items: center;
}
.section-i .framefix>.box > .contents .head .frame-logo svg:nth-child(1){
    width: auto;    
    height: 30px;
}
.section-i .framefix>.box > .contents .head .frame-logo svg:nth-child(2){
    height:6px;
}
.section-i .framefix>.box > .contents .head .project-name p {
    color: rgba(255,255,255,1);
    font-size: 14px;
    line-height: 30px;
}
.section-i .framefix>.box > .contents .head .project-name p span{
    color: rgba(255,255,255,.35);
}
.section-i .framefix>.box > .contents .head .project-name p svg{
    height: 5px;
    width: 15px;
    vertical-align: middle;
}
.section-i .framefix>.box > .contents  .ins-ai{
    width: 100%;
    height: 100%;
    display: flex;
    margin-top: 15px;
    gap: 15px;
}
.section-i .framefix>.box > .contents  .ins-ai .block-1 div:nth-child(1){
    width: 375px;
    height: 335px;
}
.section-i .framefix>.box > .contents  .ins-ai .block-1 div:nth-child(2){
    width: 375px;
    height: 335px;
    margin-top: 15px;
}
.section-i .framefix>.box > .contents  .ins-ai .block div>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    user-select: none;
    display: block;
    border-radius: 10px;
}
.section-i .framefix>.box > .contents  .ins-ai .block-1 div:nth-child(1) img{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.section-i .framefix>.box > .contents  .ins-ai .block-1 div:nth-child(2) img{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.section-i .framefix>.box > .contents  .ins-ai .block-2 div:nth-child(1){
    width: 320px;
    height: 280px;
}
.section-i .framefix>.box > .contents  .ins-ai .block-2 div:nth-child(2){
    width: 320px;
    height: 380px;
    margin-top: 15px;
}
.section-i .framefix>.box > .contents  .ins-ai .block-3 div:nth-child(1){
    width: 320px;
    height: 230px;
}
.section-i .framefix>.box > .contents  .ins-ai .block-3 div:nth-child(2){
    width: 320px;
    height: 360px;
    margin-top: 15px;
}

.out-box{
    position: absolute;
    top:150px;
    left: -100px;
    display: flex;
    flex-direction: column;
    
    padding: 12px;
}
.section-i .framefix>.box > .contents .ai-generate{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.section-i .framefix>.box > .contents .ai-generate .contain{
    width: 500px;
    height: 115px;
    padding: 12px;
    margin-left: 150px;
    margin-bottom: 25px;
    border-radius: 10px;
    background-color: #000;
    box-shadow: 1px 1px 25px rgba(0,0,0,0.5);
    border: 1px solid rgba(255,255,255,.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.section-i .framefix>.box > .contents .ai-generate .contain .user-generate p{
    color: rgba(255,255,255,0.8);
    font-size: 14px;
    font-weight: 500;
}
.section-i .framefix>.box > .contents .ai-generate .contain  .btn{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.section-i .framefix>.box > .contents .ai-generate .contain  .btn .example{
    padding: 10px;
    background: #459AFF;
    font-size: 12px;
    font-weight: 500;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255,255,255,1);
    border-radius: 5px;
}
.section-i .framefix>.box > .contents .ai-generate .contain  .btn .generate{
    display: flex;
    align-items: center;
    gap: 5px;
    border-radius: 5px;
    padding: 10px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    color: rgba(255,255,255,1);
    background: #C362FF;
}
.section-i .framefix>.box > .contents .ai-generate .contain  .btn .generate .t{
    font-size: 12px;
}
.section-i .framefix>.box > .contents .ai-generate .contain  .btn .generate svg{
    vertical-align: middle;
    margin-top: -2px;
}
.create-ai{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}
.create-ai a {
    display: flex;
    transition: .3s;
    box-shadow: 0px 0px 15px #4599ffbb;
    padding: 12px 15px 12px 15px;
    justify-content: center;
    background: #459AFF;
    border-radius: 5px;
    align-items: center;
    gap: 5px;
    position: relative;
    top: -55px;
    right: -55px;
    gap: 5px;
}
.create-ai a:hover{
    box-shadow: 0px 0px 15px rgba(233,96,255,.35);
    background: #C362FF;
}
.create-ai a > div svg{
    height: 20px;
    vertical-align: middle;
}
.create-ai a p{
    user-select: none;
    color: rgba(255,255,255,1);
    font-weight: 500;
    font-size: 14px;
}
.section-i .framefix>.box > .contents .assets .category>div.plugin.magic{
    border-right: 1px solid #459AFF;
}
.section-i .framefix>.box > .contents .assets .category>div.plugin.magic p{
    background: linear-gradient(to right, #459AFF, #E960FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.view-effects{
    width: 100%;
    display: flex;
    height: 100%;
}
.view-effects > div{
    width: 1045px;
    height: 100%;
    position: relative;
}
.view-effects > div.back .loading-contents{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    top: 0;
    align-items: center;
    position: absolute;
    left: 0;
    z-index: 5;
    background: #000;
}
.view-effects > div.back .loading-contents .contain-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    height: auto;
    position: relative;
    top: -30.5px;
}
.view-effects > div.back .loading-contents .contain-box .loading-box{
    width: 450px;
    height: 30px;
    border: 1px solid rgba(255,255,255,.5);
    border-radius: 5px;
    overflow: hidden;
}
.view-effects > div.back .loading-contents .contain-box .loading-box .process{
    height: 100%;
    background: #fff; 
}
.view-effects > div.back .loading-contents .contain-box .p{
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    width: 100%;
}
.view-effects > div.back .loading-contents .contain-box .p > div{
    font-size: 14px;
    color: #fff;
}
.view-effects > div.back .loading-contents .contain-box .p .loading-t span{
    letter-spacing: 3px;
    font-family: 'Inter', sans-serif;
    animation: oaLoading 3s ease-in infinite;
}
@keyframes oaLoading {
    0%{
        opacity: .5;
    }
    60%{
        opacity: 1;
    }
    100%{
        opacity: 0.5;
    }
}
.view-effects > div.back .wrap{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}
.view-effects .back .contents{
    width: 100%;
    height: 100%;
    background: #000;
    color: #fff;
    position: relative;
}
.view-effects .back .contents .view-head {
    padding: 15px;
    height: 65px;
    overflow: hidden;
    
    
}
.view-effects .back .contents .view-head > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.view-effects .back .contents .view-head > div > div.designing-logo p{
    letter-spacing: -2.5px;
}
.view-effects .back .contents .view-head > div > div p{
    font-family: "Prata";
    font-size: 14px;
}
.view-effects .back .contents .view-head > div > div.sign-up{
    padding: 8px 10px;
    border-radius: 500px;
    border: 1px solid rgba(255,255,255,1);
}
.view-effects .back .contents .view-head > div > div.sign-up p{
    font-family: "Poppins";
}
.view-effects .back .contents .view-main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-bottom: 60px;
}
.view-effects .back .contents .main-img{
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%,-50%);
}
.view-effects .back .contents .main-img .img{
    width: 250px;
    height: 350px;
    transform-origin: center center;
}
.view-effects .back .contents .main-img .img img{
    width: 100%;
    height: 100%;
    user-select: none;
    object-fit: cover;
}
.view-effects .back .contents .view-main .titles>div>div{
    overflow: hidden;
}
.view-effects .back .contents .view-main .titles h1,
.view-effects .back .contents .view-main .titles p{
    font-family: "Prata";
}
.view-effects .back .contents .view-main .titles .product{
    display: flex;
    gap: 20px;
    align-items: center;
}
.view-effects .back .contents .view-main .titles .product h1{
    text-transform: uppercase;
    font-weight: 500;
}
.view-effects .back .contents .view-main .titles .product .link-to-product{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: #E960FF;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-origin: center center;
}
.view-effects .back .contents .view-main .studio{
    display: flex;
    gap: 10px;
    margin-top: 35px;
}
.view-effects .back .contents .view-main .studio>div{
    overflow: hidden;
}
.view-effects .back .contents .view-main .studio>div h1{
    text-transform: uppercase;
    font-weight: 500;
}

.view-effects .back .contents .view-main .main-sub-txt{
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    top: 120px;
}
.view-effects .back .contents .view-main .main-sub-txt>div{
    display: flex;
    gap: 40px;
}
.view-effects .back .contents .view-main .main-sub-txt>div .t{
    overflow: hidden;
}
.view-effects .back .contents .view-main .main-sub-txt>div .division{
    width: 3px;
    height:60px;
    background-color: rgba(255,255,255,.15);
}
.view-effects .back .contents .view-main .img{
    position: absolute;
    
}
.layout .box .contents .contents-layout{
    width: 1045px;
    position: relative;
    height: 100%;
    background: #fff;
}
.layout .box .contents .contents-layout .layout-line{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
}
.layout .box .contents .contents-layout .layout-line>div{
    width: 1px;
    height: 100%;
    background: rgba(0,0,0,.1);
}
.view-selection>.view{
    display: flex;
    gap: 10px;
    align-items: center;
}
.view-selection>div.divi{
    height: 25px;
    width: 2px;
    background: rgba(255,255,255,.15);
}
.view-selection>.view>p{
    font-size: 12px;
    color: rgba(255,255,255,1);
}
.view-selection>.overview{
    opacity: 0.5;
}