.titles{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 8em;
}
.titles > div.logo{
    padding-bottom: 35px;
}
.titles > div h1{
    color: rgba(255,255,255,1);
    font-size:5em;
    text-align: center;
    letter-spacing: 1px;
    max-width: 820px;
}
.section-i{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-bottom: 10vh;
}
.section-i.f-a{
    z-index: 5;
}
.section-i.f-b{
    z-index: 4;
}
.section-i.f-c{
    z-index: 3;
}
#section-gsap{
    width: 100%;
    height: 100%;
}
.section-i>div{
    width: 100%;
    height: auto;
    display: grid;
    gap: 5em;
    grid-template-columns: repeat(2,1fr);
    align-items: center;

}
.section-i.f-c .txt h1{
    max-width: 600px;
}
.section-i.f-b .txt h1{
    max-width: 750px;
}
.section-i>div .txt{
    width: 100%;
}
.section-i>div .txt h1{
    color: white;
    font-size: 4.00em;
    font-size: 800;
    max-width: 700px;
}
.section-i>div .txt h1 span{
    color: #459AFF;
}
.section-i>div .txt .m-expl{
    display: flex;
    gap: 25px;
    padding-top: 5em;
    padding-bottom: 5em;
    align-items: center;

}
.section-i>div .txt .m-expl .progress-contain{
    width: 5px;
    min-width: 5px;
    height: 125px;
    background: rgba(69,154,255,.2);
    border-radius: 50px;
    overflow: hidden;
}
.section-i>div .txt .m-expl .progress-contain>.progress{
    width: 100%;
    background: #459AFF;
    border-radius: 50px;
    
}

.section-i>div .txt .m-expl .explain p.sub-title{
    padding-bottom: 20px;
    font-weight: 700;
    font-size: 1.25em;
    color: rgba(255,255,255,1);

}
.section-i>div .txt .m-expl .explain p{
    color: rgba(255,255,255,0.5);
    font-size: 1em;
    max-width: 500px;
    font-weight: 400;
}
.section-i>div .txt .see-all a {
    color: #459AFF;
    font-weight: bold;
    cursor: pointer;
    font-size: 1.25em;
    z-index: 5;
}
.section-i .framefix{
    height: 700px;
    width: 100%;
    z-index: 10;
    margin-top: 35px;
    position: relative;
}
.section-i .framefix>.box{
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: 100%;
    border-radius: 15px;
    background: rgba(255,255,255,.1);
    padding: 15px;
    z-index: -1;

}
.section-i .framefix>.box > .contents{
    width: 100%;
    
    z-index: 111;
    height: 100%;
    background: #1b1b1b;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
}
.section-i .framefix>.box > .contents .assets{
    position: absolute;
    top: 60px;
    left: 0;
    height: 100%;
    width: 80px;
    display: flex;
}
.section-i .framefix>.box > .contents .assets>div{
    background: #000;
    height: 100%;
}
.section-i .framefix>.box > .contents .assets .category{
    width: 80px;
    border-right: 1px solid rgba(255,255,255,.1);
    min-width: 80px;
    display: flex;
    flex-direction: column;
}
.section-i .framefix>.box > .contents .assets .category>div{
    width: 100%;
    display: flex;
    padding-top: 15.5px;
    padding-bottom: 15.5px;
    flex-direction: column;
    align-items: center;
}
.section-i .framefix>.box > .contents .assets .category>div p{
    text-align: center;
    padding-top: 5px;
    font-size: 12px;
    text-transform: capitalize;
    font-weight: 500;
    color: rgba(255,255,255,1);
}
.section-i .framefix>.box > .contents .assets .c-plugins{
    width: 200px;
    min-width: 200px;
    box-shadow: 15px 0px 15px rgba(0,0,0,0.35);
    overflow: hidden;
}
.section-i .framefix>.box > .contents .assets .c-plugins>div{
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.section-i .framefix>.box > .contents .assets .c-plugins>div .p-i{
    width: 35px;
    height: 35px;
    min-width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
.section-i .framefix>.box > .contents .assets .c-plugins>div .t .title{
    font-weight: 600;
    color: rgba(255,255,255,1);
    font-size: 12px;
}
.section-i .framefix>.box > .contents .assets .c-plugins>div .t .sub-txt{
    font-size:9px;
    padding-top: 5px;
    color: rgba(255,255,255,.5);
}
.section-i .framefix>.box > .contents .assets .c-plugins>div .p-i.create{
    background: #A946FC;
}
.section-i .framefix>.box > .contents .assets .c-plugins>div .p-i.wireframe{
    background: rgba(69,154,255,.5);
}
.section-i .framefix>.box > .contents .assets .c-plugins>div .p-i.re-txt{
    background: rgba(255,183,75,.5);
}
.section-i .framefix>.box > .contents .assets .c-plugins>div .p-i.re-img{
    background: rgba(4,218,177,.5);
}
.section-i .framefix>.box > .contents .assets .c-plugins>div:nth-child(1){
    background: rgba(255,255,255,.1);
}
.section-i .framefix>.box > .contents .head{
    width: 100%;
    height: 60px;
    background: #000;
    padding: 12px 15px;
    border-bottom:  1px solid rgba(255,255,255,.1);
    display: flex;
    gap: 10px;
    align-items: center;
}
.section-i .framefix>.box > .contents .head .frame-logo{
    display: flex;
    gap: 10px;
    align-items: center;
}
.section-i .framefix>.box > .contents .head .frame-logo svg:nth-child(1){
    width: auto;    
    height: 30px;
}
.section-i .framefix>.box > .contents .head .frame-logo svg:nth-child(2){
    height:6px;
}
.section-i .framefix>.box > .contents .head .project-name p {
    color: rgba(255,255,255,1);
    font-size: 14px;
    line-height: 30px;
}
.section-i .framefix>.box > .contents .head .project-name p span{
    color: rgba(255,255,255,.35);
}
.section-i .framefix>.box > .contents .head .project-name p svg{
    height: 5px;
    width: 15px;
    vertical-align: middle;
}
.section-i .framefix>.box > .contents  .ins-ai{
    width: 100%;
    height: 100%;
    display: flex;
    margin-top: 15px;
    gap: 15px;
}
.section-i .framefix>.box > .contents  .ins-ai .block-1 div:nth-child(1){
    width: 375px;
    height: 335px;
}
.section-i .framefix>.box > .contents  .ins-ai .block-1 div:nth-child(2){
    width: 375px;
    height: 335px;
    margin-top: 15px;
}
.section-i .framefix>.box > .contents  .ins-ai .block div>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    user-select: none;
    display: block;
    border-radius: 10px;
}
.section-i .framefix>.box > .contents  .ins-ai .block-1 div:nth-child(1) img{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.section-i .framefix>.box > .contents  .ins-ai .block-1 div:nth-child(2) img{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.section-i .framefix>.box > .contents  .ins-ai .block-2 div:nth-child(1){
    width: 320px;
    height: 280px;
}
.section-i .framefix>.box > .contents  .ins-ai .block-2 div:nth-child(2){
    width: 320px;
    height: 380px;
    margin-top: 15px;
}
.section-i .framefix>.box > .contents  .ins-ai .block-3 div:nth-child(1){
    width: 320px;
    height: 230px;
}
.section-i .framefix>.box > .contents  .ins-ai .block-3 div:nth-child(2){
    width: 320px;
    height: 360px;
    margin-top: 15px;
}

.out-box{
    position: absolute;
    top:150px;
    left: -100px;
    display: flex;
    flex-direction: column;
    
    padding: 12px;
}
.section-i .framefix>.box > .contents .ai-generate{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.section-i .framefix>.box > .contents .ai-generate .contain{
    width: 500px;
    height: 115px;
    padding: 12px;
    margin-left: 150px;
    margin-bottom: 25px;
    border-radius: 10px;
    background-color: #000;
    box-shadow: 1px 1px 25px rgba(0,0,0,0.5);
    border: 1px solid rgba(255,255,255,.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.section-i .framefix>.box > .contents .ai-generate .contain .user-generate p{
    color: rgba(255,255,255,.2);
    font-size: 14px;
    font-weight: 500;
}
.section-i .framefix>.box > .contents .ai-generate .contain  .btn{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.section-i .framefix>.box > .contents .ai-generate .contain  .btn .example{
    padding: 12px;
    background: #459AFF;
    font-size: 10px;
    font-weight: 500;
    color: rgba(255,255,255,1);
    border-radius: 5px;
}
.section-i .framefix>.box > .contents .ai-generate .contain  .btn .generate{
    display: flex;
    align-items: center;
    gap: 5px;
    border-radius: 5px;
    padding: 10px;
    font-weight: 500;
    color: rgba(255,255,255,1);
    background: #C362FF;
}
.section-i .framefix>.box > .contents .ai-generate .contain  .btn .generate .t{
    font-size: 12px;
}
.section-i .framefix>.box > .contents .ai-generate .contain  .btn .generate-icon svg{

}
.create-ai{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: flex-end;align-items: flex-end;
    
}
.create-ai>div{
    display: flex;
    padding: 12px 15px 12px 15px;
    justify-content: center;
    background: #459AFF;
    border-radius: 5px;
    align-items: center;
    gap: 5px;
    position: relative;
    top: -55px;
    right: -55px;
}
.create-ai>div svg{
    height: 20px;
    vertical-align: middle;
}
.create-ai>div p{
    color: rgba(255,255,255,1);
    font-weight: 500;
    font-size: 14px;
}
.section-i .framefix>.box > .contents .assets .category>div.plugin.magic{
    border-right: 1px solid #459AFF;
}
.section-i .framefix>.box > .contents .assets .category>div.plugin.magic p{
    background: linear-gradient(to right, #459AFF, #E960FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}