body{
    background: #000;
}
.type-icon{
    display: flex;
    gap: 15px;
    width: fit-content;
    margin-bottom: 15px;
    align-items: center;
}
.type-icon .icon svg{width: 20px;height: 20px;}
.type-icon .icon{
    width: 40px;
    min-width: 40px;
    height: 40px;
    background: linear-gradient(120deg, #459AFF,rgba(0,117,255,1));
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 4px rgba(8,8,8,.08),0 1px 2px rgba(8,8,8,.2),inset 0 6px 12px rgba(255,255,255,.12),inset 0 1px 1px rgba(255,255,255,.2);

}
.type-icon .icon~div{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.50em;
    color: #fff;
}
section.main{
    padding-top: 8em;
    width: 100%;
    position: relative;
    height: 100%;
    /* background: linear-gradient(120deg,#08AEEA,#2A57F5,#2AF598);*/
    padding-bottom: 8em;
}   
section.main > .background-top-blur{
    width: 1200%;
    position: absolute;
    background: #000;
    height: 550px;
    filter: blur(80px);
    top: -200px;
    left: -50%;
}
section.main .txt-back-contain{
    position: absolute;
    top: 50px;
    left: -50%;
    
    z-index: -2;
    white-space: nowrap;
}
section.main .txt-back-contain span{
    font-family: sans-serif;
    font-weight: 900;
    user-select: none;
    opacity: 0.1;

    font-size: 500px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #fff;
    
}
section.main .wrapper{
    width: 1680px;
    height: auto;
    margin: 0 auto;
    padding: 25px;
    position: relative;
    max-width: 100%;
}
section.main .wrapper .main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
section.main .wrapper .main .title h1{
    font-size: 100px;
    color: #fff;
    font-weight: 900;
    letter-spacing: 1px;
    text-transform: uppercase;
    position: relative;
}
section.main .wrapper .main .description .txt p{
    color: rgba(255,255,255,.5);
    max-width: 630px;
    font-size: 1.25em;
    font-weight: 500;

}
section.main .wrapper .main .description .start-framefix{
    padding-top:35px;
    height:100%;
    margin-top: 35px;
    padding-bottom: 35px;
}
section.main .wrapper .main .description .start-framefix > a{
    padding: 20px 30px 20px 30px;
    background: #459AFF;
    border-radius: 10px;
    width: fit-content;
    color: #fff;
    font-weight: 600;
    font-size: 1.25em;
    filter : hue-rotate(0);
    transition: filter 0.3s ease-in-out;
    box-shadow: 0 4px 4px rgba(8,8,8,.08),0 1px 2px rgba(8,8,8,.2),inset 0 6px 12px rgba(255,255,255,.12),inset 0 1px 1px rgba(255,255,255,.2);
}
section.main .wrapper .main .description .start-framefix > a:hover{
    filter : hue-rotate(90deg);
}
section.main .wrapper .main .slider{
    display: flex;
    flex-direction: column;
    gap: 35px;
    align-items: flex-end;
}
section.main .wrapper .main .slider > div{
    color: rgba(255,255,255,.2);
    text-transform: uppercase;
    text-align: end;
    font-weight: 600;
    cursor: pointer;
    position: relative;
    padding: 2px;
    width: fit-content;
    transition: color .3s;
}
section.main .wrapper .main .slider > div::before{
    content: "";
    display: flex;
    width: 0%;
    position: absolute;
    height: 1px;
    bottom: 0%;
    transition: .3s;
    left: 0;
    background: rgba(255,255,255,.8);
    animation: sliderActive 0.3s ease-in-out both;
}
section.main .wrapper .main .slider > div.active{
    color: #fff;
}
section.main .wrapper .main .slider > div.active::before{
    width: 100%;
}
section.main .wrapper  .main-framefix{
    margin-top: 8em;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    perspective: 1000px;
}
section.main .wrapper  .main-framefix .frame{
    height:824px;
    width: 100%;   
    border-radius: 15px;
}
section.main .wrapper  .main-framefix .frame>div{
    width: 100%;
    height: 100%;
    border-radius: 12px;
    border: 2px solid rgba(255,255,255,.1);
}
section.main .wrapper  .main-framefix .frame>div .contain{
    width: 100%;
    height: 100%;
}
.f-g{
    width: 100%;
    height: auto;
    margin-top: 50vh;
    display: flex;
    justify-content: center;
    margin-bottom: 50vh;
    background: #080811;
}
.f-g .wrapper{
    width: 1680px;
    max-width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 25px;
}
.f-g .wrapper .contain{
    width: 100%;
    height: 500vh;
}

/*publish*/
.publish{
    width: 100%;
    height: auto;
    position: relative;
    padding-top: 50vh;
    overflow: hidden;
}
.publish .wrapper{
    width: 1680px;
    max-width: 100%;
    margin: 0 auto;
    height: auto;
    padding: 25px;
    position: relative;
}
.publish  .scrollEventIcon{
    position: absolute;
    top:400px;
    width: 100%;
    display: flex;
    left: 0;
    z-index: -10;
    opacity:0;
    justify-content: flex-start;
    white-space: nowrap;
    transform: scale(1);
}
.publish  .scrollEventIcon div{
    text-transform: uppercase;
    color: rgba(255,255,255,1);
    font-size: 10em;
    font-weight: bold;
    -webkit-text-fill-color: transparent;
    font-family: 'Times New Roman', Times, serif;
    -webkit-text-stroke: 1px rgba(255,255,255,.35);
}
.publish .scrollEvent{
    position: absolute;
    top: 650px;
    right: 0;
    z-index: -1111;
    opacity: 0;
    display: flex;
    justify-content: flex-end;
}
.publish .scrollEvent > div{
    text-transform: uppercase;
    color: rgba(255,255,255,1);
    font-size: 10em;
    font-weight: bold;
    -webkit-text-fill-color: transparent;
    font-family: 'Times New Roman', Times, serif;
    -webkit-text-stroke: 1px rgba(255,255,255,.35);
    
}
.publish .none-pin{
    position: absolute;
    top:900px;
    left: 0;
    opacity: 0;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    z-index: -1111;
    white-space: nowrap;
}
.publish .none-pin div{
    text-transform: uppercase;
    color: rgba(255,255,255,1);
    font-size: 10em;
    font-weight: bold;
    -webkit-text-fill-color: transparent;
    font-family: 'Times New Roman', Times, serif;
    -webkit-text-stroke: 1px rgba(255,255,255,.35);
}
.publish .wrapper>.txt .title h1{
    color: rgba(255,255,255,1);
    font-size: 6em;
    opacity: 0;
    max-width: 1030px;
}
.publish .wrapper .description{
    margin-top: 50vh;
}
.publish .wrapper .description p{
    padding-bottom: 35px;
    padding-left: 15px;
    font-size: 1.5em;
    color: rgba(255,255,255,.8);
    font-weight: 500;
    max-width: 650px;
}
.publish .wrapper>.txt .start-framefix .btn{
    padding: 25px;
    width: fit-content;
    border-radius: 8px;
    font-size: 1.25em;
    font-weight: 600;
    box-shadow: 0 1px 1px rgba(8,8,8,.08),0 1px 1px rgba(8,8,8,.2),inset 0 6px 12px rgba(255,255,255,.12),inset 0 1px 1px rgba(255,255,255,.2);
    color: rgba(255,255,255,1);
    background: #459AFF;
}
.publish-ex> .contents{
    display: flex;
    gap: 27px;
    width: 100vw;
    justify-content: center;
}
.publish-ex> .contents > div{
    width: 1180px;
    height: 750px;
    min-width: 1180px;
    border: 1px solid rgba(255,255,255,.2);
    background: #1a1a1a;
    border-radius: 15px;
    
}
.publish-ex> .contents > div.right-content{
    background: rgb(226, 226, 226);
    z-index: 10;
}
.seo-contain{
    width: 100%;
    height: 100%;
    padding-top: 50vh;
}
.seo-contain .wrapper{
    width: 1680px;
    max-width: 100%;
    margin: 0 auto;
    padding: 25px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    position: relative;
    gap: 35px;
}
.seo-contain .wrapper .deco{
    position: absolute;
    left: -300px;
    top: 0;
    
}
.seo-contain .wrapper .deco svg{
    transform: rotate(0);
    opacity: 0;
}
.seo-contain .wrapper .txt-contain{
    width: auto;
    height: auto;
}
.seo-contain .wrapper .txt-contain .wrap{
    max-width: 600px;
    height: auto;
}
.seo-contain .wrapper .txt-contain .wrap .title h1{
    color: rgba(255,255,255,1);
    font-size: 5em;
    font-weight: 800;
}
.seo-contain .wrapper .txt-contain .explain{
    padding-top: 65px;
}
.seo-contain .wrapper .txt-contain .explain p{
    color: rgba(255,255,255,0.5);
    font-weight: 500;
    font-size: 1.5em;
    line-height: 35px;
}
.seo-contain .wrapper .seo-contents{
    position: relative;
    width: auto;
    height: 980px;
    
    border-radius: 15px;
    perspective: 500px;
}
.seo-contain .wrapper .seo-contents .contain{
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 15px;
    background: #171717;
}
.seo-contain .wrapper .seo-contents .contain .in{
    width: 100%;
    padding: 25px;
    height: 100%;
    display: flex;
    flex-direction:column;
}

.seo-contain .wrapper .seo-contents .contain .in .title h1{
    color: rgba(255,255,255,1);
}
.seo-contain .wrapper .seo-contents .contain .in .meta{
    width: 560px;
    max-width: 560px;
    height: auto;
    background: #000;
    border-radius: 8px;
    margin-top: 25px;
    padding: 15px;
}
.seo-contain .wrapper .seo-contents .contain .in .meta .meta-txt .title-url{
    display: flex;
    justify-content: space-between;
    gap: 55px;
    align-items: center;
}
.seo-contain .wrapper .seo-contents .contain .in .meta .meta-txt .title-url > div{
    width: 100%;
}
.seo-contain .wrapper .seo-contents .contain .in .meta .meta-txt .title-url > div .t{
    color: rgba(255,255,255,1);
    font-size: 14px;
    font-weight: 500;
}
.seo-contain .wrapper .seo-contents .contain .in .meta .meta-txt .title-url > div .input-box{
    width: 100%;
    height: 35px;
    margin-top: 5px;
    background: rgba(255,255,255,.1);
    color: rgba(255,255,255,.8);
    border-radius: 5px;
    font-size: 14px;
    padding: 8px 12px;
}
.seo-contain .wrapper .seo-contents .contain .in .meta .meta-txt .description{
    margin-top: 25px;
    width: 100%;
}
.seo-contain .wrapper .seo-contents .contain .in .meta .meta-txt .description .t{
    color: rgba(255,255,255,1);
    font-weight: 500;
    font-size: 14px;
}
.seo-contain .wrapper .seo-contents .contain .in .meta .meta-txt .description .textarea{
    margin-top: 5px;
    padding: 12px;
    width: 100%;
    height: 135px;
    background: rgba(255,255,255,.1);
    border-radius: 5px;
    font-size: 14px;
    color: rgba(255,255,255,.8);
}
.seo-contain .wrapper .seo-contents .contain .in .meta .meta-img-setting{
    margin-top: 25px;
}
.seo-contain .wrapper .seo-contents .contain .in .meta .meta-img-setting .t{
    color: rgba(255,255,255,1);
    font-weight: 500;
    font-size: 14px;
}
.seo-contain .wrapper .seo-contents .contain .in .meta .meta-img-setting .favicon{
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    gap: 55px;
}
.seo-contain .wrapper .seo-contents .contain .in .meta .meta-img-setting .favicon .guide{
    display: flex;
    flex-direction: column;
    gap: 25px;

}
.seo-contain .wrapper .seo-contents .contain .in .meta .meta-img-setting .favicon .guide .i{
    font-style: 12px;
    font-weight: 500;
    color: rgba(255,255,255,.8);
}
.seo-contain .wrapper .seo-contents .contain .in .meta .meta-img-setting .favicon .guide .guide-txt{
    font-size: 12px;
    color: rgba(255,255,255,.5);
    max-width: 290px;
}
.seo-contain .wrapper .seo-contents .contain .in .meta .meta-img-setting .favicon .guide .upload{
    padding: 8px;
    background: #459AFF;
    border-radius: 5px;
    font-size: 12px;
    color: rgba(255,255,255,1);
    font-weight: 500;
    width: fit-content;
}
.seo-contain .wrapper .seo-contents .contain .in .meta .meta-img-setting .favicon .preview-favicon{
    width: 215px;
    height: auto;
    border-radius: 5px;
    border: 1px solid rgba(255,255,255,.1);
    background: rgba(255,255,255,.1);
    display: flex;
    justify-content: center;
    align-items: center;
}
.seo-contain .wrapper .seo-contents .contain .in .open-graph{
    height: auto;
    width: 380px;
    max-height: 100%;
    height: 100%;
    margin-top: 25px;
    background: #000;
    align-self: flex-end;
    border-radius: 8px;
    overflow: hidden;
    padding: 15px;
}
.seo-contain .wrapper .seo-contents .contain .in .open-graph .img{
    width: 100%;
    height: 185px;
    position: relative;
}
.seo-contain .wrapper .seo-contents .contain .in .open-graph .img img{
    width: 100%;
    height: 100%;
    user-select: none;
    object-fit: cover;
}
.seo-contain .wrapper .seo-contents .contain .in .open-graph .img p{
    color: rgba(255,255,255,1);
    font-size: 1.25em;
    z-index: 3;
    position: absolute;
    font-weight: 600;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.seo-contain .wrapper .seo-contents .contain .in .open-graph .txt{
    width: 100%;
    margin-top: 15px;
    
}
.seo-contain .wrapper .seo-contents .contain .in .open-graph .txt .og-title-url{
    display: flex;
    justify-content: space-between;
    gap: 35px;
    align-items: center;

}
.seo-contain .wrapper .seo-contents .contain .in .open-graph .txt .og-title-url .og div.t{
    font-size: 14px;
    color: rgba(255,255,255,1);
    font-weight: 500;
}
.seo-contain .wrapper .seo-contents .contain .in .open-graph .txt .og-title-url .input-box{
    width: 160px;
    height: 30px;
    background: rgba(255,255,255,.1);
    border-radius: 5px;
    margin-top: 5px;
    padding: 8px;
    color: rgba(255,255,255,.5);
    font-size: 12px;
}
.seo-contain .wrapper .seo-contents .contain .in .open-graph .txt .og-description{
    width: 100%;
    height: 100%;
    margin-top: 15px;
}
.seo-contain .wrapper .seo-contents .contain .in .open-graph .txt .og-description .description{
    color: rgba(255,255,255,1);
    font-size: 14px;
    font-weight: 500;
    
}
.seo-contain .wrapper .seo-contents .contain .in .open-graph .txt .og-description .txtarea{
    width: 100%;
    height: 100%;
    margin-top: 5px;
    border-radius: 5px;
    background: rgba(255,255,255,.1);
    font-size: 12px;
    padding: 8px;
    color: rgba(255,255,255,.5);
    height: 100px;
}
.seo-contain .wrapper .seo-contents .contain .out{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}
.seo-contain .wrapper .seo-contents .contain .out .top{
    align-self: flex-end;
    width: 250px;
    height: 320px;
    border-radius: 8px;
    background: #000;
    overflow: hidden;
    margin-top: 80px;
    position: relative;
    left: 100px;
    box-shadow: -15px 4px 25px  rgba(18,23,35,0.35);
}
.seo-contain .wrapper .seo-contents .contain .out .top .sementics{    
    overflow: hidden;
    border-radius: 15px;
    height: 100%;
    width: 100%;
}  
.seo-contain .wrapper .seo-contents .contain .out .top .sementics p{
    font-weight: 600;
    color: rgba(255,255,255,1);
    padding: 15px;
    font-size: 1.25em;
} 
.seo-contain .wrapper .seo-contents .contain .out .top .sementics .tag{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    gap: 25px;
    padding-top: 25px;
    top: -50px;
    padding-left: 15px;
}
.seo-contain .wrapper .seo-contents .contain .out .top .sementics .tag>div.t{
    font-size: 2.50em;
    font-weight: 800;
    color: #4A96FE;
    z-index: -2;
}
.seo-contain .wrapper 
.seo-contents 
.contain .out .top .sementics .tag::after,
.seo-contain .wrapper .seo-contents .contain .out .top .sementics .tag::before{
    content: "";
    background: #000;
    width: 100%;
    height: 60px;
    position: absolute;
    display: block;
    z-index: -1;
    transform:  scale(1.5);
}
.seo-contain .wrapper 
.seo-contents 
.contain .out .top .sementics .tag::after{
    top: -15px;
    filter:  blur(10px);
}
.seo-contain .wrapper .seo-contents .contain .out .top .sementics .tag::before{
    bottom: -15px;
    filter:  blur(10px);
}
.seo-contain .wrapper .seo-contents .contain .out .top .sementics div.blur > div{
    background: #000;
    height: 50px;
    width: 100%;
    filter: blur(10px);
}
.seo-contain .wrapper .seo-contents .contain .out .bottom{
    align-self: flex-start;
    width: 500px;
    height: 380px;
    background-color: #171717;
    position: relative;
    right: 130px;
    padding: 15px;
    top: -25px;
    border-radius: 8px;
    z-index: 3;
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(255,255,255,.2);
    box-shadow: 15px -4px 25px rgba(0,0,0,.55);
}
.seo-contain .wrapper .seo-contents .contain .out .bottom .meta-img-setting{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.seo-contain .wrapper .seo-contents .contain .out .bottom .t p{
    font-weight: 600;
    color: rgba(255,255,255,1);
    font-size: 1.5em;
}
.seo-contain .wrapper .seo-contents .contain .out .bottom .img {
    width: 100%;
    margin-top: 15px;
    height: 100%;
}
.seo-contain .wrapper .seo-contents .contain .out .bottom .img img{
    width: 100%;
    height: 100%;
    border-radius: 8px;
    object-fit: cover;
    user-select: none;
}
.seo-contain .wrapper .seo-contents .contain .out .bottom .content-box{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 85px;
    display: flex;
    align-items: center;
    left: -65px;
}
.seo-contain .wrapper .seo-contents .contain .out .bottom .content-box .wrap{
    width: 300px;
    height: auto;
    background: #000;
    border: 1px solid rgba(255,255,255,.1);
    border-radius: 10px;
    padding: 12px;
    overflow: hidden;
    box-shadow: 12px -8px 15px rgba(18,23,35,0.25);
}
.seo-contain .wrapper .seo-contents .contain .out .bottom .content-box .wrap{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.seo-contain .wrapper .seo-contents .contain .out .bottom .content-box .wrap .h{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    align-items: center;
    padding-bottom: 12px;
    border-bottom: 1px solid rgba(255,255,255,.1);
}
.seo-contain .wrapper .seo-contents .contain .out .bottom .content-box .wrap .h>p{
    color: rgba(255,255,255,1);
    font-weight: 600;
    font-style: 13px;

}
.seo-contain .wrapper .seo-contents .contain .out .bottom .content-box .wrap .h>.save{
    padding: 8px;
    color: rgba(255,255,255,1);
    font-weight: 500;
    font-size: 12px;
    background: #459AFF;
    border-radius: 3px;
    box-shadow: 0 4px 4px rgba(8,8,8,.08),0 1px 2px rgba(8,8,8,.2),inset 0 6px 12px rgba(255,255,255,.12),inset 0 1px 1px rgba(255,255,255,.2);

}
.seo-contain .wrapper .seo-contents .contain .out .bottom .content-box .image {
    display: flex;
    align-items: flex-start;
    gap: 35px;
}
.seo-contain .wrapper .seo-contents .contain .out .bottom .content-box .image .t>p{
    font-size: 14px;
    font-weight: 500;
    color: rgba(255,255,255,.35);

}
.seo-contain .wrapper .seo-contents .contain .out .bottom .content-box .image .img-view{
    width: 100%;
    height: auto;
    padding: 5px;
    border-radius: 8px;
    border: 1px solid rgba(255,255,255,.1);
}
.seo-contain .wrapper .seo-contents .contain .out .bottom .content-box .image .img-view .img-infor{
    align-items: center;
    display: flex;
    gap: 10px;
    border-radius: 5px;
}
.seo-contain .wrapper .seo-contents .contain .out .bottom .content-box .image .img-view .img-infor .view{
    width: 70px;
    height: 70px;
    min-width: 70px;
}
.seo-contain .wrapper .seo-contents .contain .out .bottom .content-box .image .img-view .img-infor .view img{
    width: 100%;
    height: 100%;
    user-select: none;
    object-fit: cover;
    border-radius: 5px;
}
.seo-contain .wrapper .seo-contents .contain .out .bottom .content-box .image .img-view .img-infor .infor{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.seo-contain .wrapper .seo-contents .contain .out .bottom .content-box .image .img-view .img-infor .infor p{
    color: rgba(255,255,255,.8);
    font-size: 12px;
}
.seo-contain .wrapper .seo-contents .contain .out .bottom .content-box .image .img-view .replace-img{
    padding: 12px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255,255,255,.5);
    background: #171717;
    font-weight: 500;
    border-radius: 5px;
    margin-top: 5px;
    font-size: 13px;
}
.seo-contain .wrapper .seo-contents .contain .out .bottom .content-box .gr{ 
    display: flex;
    gap: 15px;
    white-space: nowrap;
    align-items: center;
}
.seo-contain .wrapper .seo-contents .contain .out .bottom .content-box .gr .t{
    font-size: 14px;
    color: rgba(255,255,255,.35);
    font-weight: 500;
}
.seo-contain .wrapper .seo-contents .contain .out .bottom .content-box .gr .box{
    padding: 8px;
    background: #171717;
    width: 100%;
    
    border-radius: 8px;
}
.seo-contain .wrapper .seo-contents .contain .out .bottom .content-box .gr .box p{
    color: rgba(255,255,255,.8);
    font-size: 13px;
    font-weight: 500;
}
.community{
    width: 100%;
    height: auto;
    margin-top: 50vh;
}
.community .wrapper{
    width: 1680px;
    padding: 25px;
    max-width: 100%;
    margin: 0 auto;
}
.community .wrapper .community-title .txt h1{
    font-size: 6em;
    color: rgba(255,255,255,1);
    max-width: 1150px;
}
.community .wrapper>.contents{
    margin-top: 50vh;
    width: 100%;
}
.community .wrapper>.contents > .description{
    padding-bottom: 3em;
    padding-left: 15px;
}
.community .wrapper>.contents > .description p{
    font-weight: 500;
    color: rgba(255,255,255,.8);
    font-size: 1.5em;
    max-width: 580px;

}
.community .wrapper>.contents .wrap{
    display: grid;
    grid-template-columns: 3fr 1.5fr; /* 사이드바와 메인 컨텐츠 영역의 너비 비율 */
    grid-template-rows: 3fr 1fr fr; /* 헤더, 메인 컨텐츠, 푸터의 높이 설정 */
    gap: 25px;
    grid-template-areas: 
    "item1 item1"
    "item1 items"
    "item3 item3";
}
.community .wrapper>.contents .wrap .item1{
    height: 765px;
    width: 100%;
}
.community .wrapper>.contents .wrap .items{
    grid-column: auto;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.community .wrapper>.contents .wrap .items >div{
    width: 100%;
    height: 100%;
}
.community .wrapper>.contents .wrap .item3{
    width: 100%;
    grid-column: 3/1;
    grid-row : 10/2;
}
.community .wrapper>.contents  .wrap>div{
    border-radius: 10px;
}

.community .wrapper>.contents  .wrap>div>div{
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background: #171717;
    position: relative;
    overflow: hidden;
    padding: 15px;
}
.community .wrapper>.contents  .wrap .item1 .user-project-contain>div{
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background: #000;
    padding: 35px;
    display: flex;
    
    flex-direction: column;
}
.community .wrapper>.contents  .wrap .item1 .user-project-contain>div .content-main-txt{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 25px;
}
.community .wrapper>.contents  .wrap .item1 {
    position: relative;
}
.community .wrapper>.contents  .wrap .item1 > .guide{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,0);
}
.community .wrapper>.contents 
.wrap 
.item1 
.user-project-contain>div 
.content-main-txt 
.content-title h1{

    font-size: 3.00em;
    color: rgba(255,255,255,1);
    font-weight: 800;
    text-transform: uppercase;
    max-width: 300px;
}

.community 
.wrapper>.contents  
.wrap 
.item1 
.user-project-contain>div 
.content-main-txt 
.content-explain .t{
    font-size: 0.9em;
    color: rgba(255,255,255,.5);
    max-width: 400px;
}
.community 
.wrapper>.contents  
.wrap 
.item1 
.user-project-contain>div 
.content-main-txt 
.content-explain .btn{
    margin-top: 35px;
    color: rgba(255,255,255,1);
    font-size: 0.8em;
    padding: 15px;
    background: #459AFF;
    width: fit-content;
    font-weight: 600;
    border-radius: 8px;
    box-shadow: 0 4px 4px rgba(8,8,8,.08),0 1px 2px rgba(8,8,8,.2),inset 0 6px 12px rgba(255,255,255,.12),inset 0 1px 1px rgba(255,255,255,.2);
}
.community 
.wrapper>.contents  
.wrap 
.item1 
.user-project-contain>div 
.content-main-txt 
.content-slider{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-end;
}
.community 
.wrapper>.contents  
.wrap 
.item1 
.user-project-contain>div 
.content-main-txt 
.content-slider>div{
    font-size: 0.8em;
    color: rgba(255,255,255,1);
    text-transform: uppercase;
    font-weight: 600;
}
.community 
.wrapper>.contents  
.wrap 
.item1 
.user-project-contain>div 
.content-main-txt 
.content-slider>div:not(:nth-child(1)){
    
    color: rgba(255,255,255,.5);
}
.community 
.wrapper>.contents  
.wrap 
.item1 
.user-project-contain>div
.content-main-banner{
    margin-top: 35px;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,.1);
    border-radius: 8px;
    border: 1px solid rgba(255,255,255,.1);
    padding: 12px;
}
.community 
.wrapper>.contents  
.wrap 
.item1 
.user-project-contain>div
.content-main-banner>div{
    width: 100%;
    height: 100%;
    position: relative;
}
.community 
.wrapper>.contents  
.wrap 
.item1 
.user-project-contain>div
.content-main-banner>div{
    width: 100%;
    height: 100%;
    background-image: url("../../img/sample-img.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    border-radius: 10px;
}
.community 
.wrapper>.contents  
.wrap 
.item1 
.user-project-contain>div
.content-main-banner>div
.banner-title h1{
    color: rgba(255,255,255,1);
    text-transform: uppercase;
    font-size: 2.50em;
    text-align: center;
    max-width: 420px;
}


.community .wrapper>.contents .wrap .item3>.contain{
    width: 100%;
    height: 100%;
    padding: 15px;
    display: grid;
    gap: 15px;
    overflow: hidden;
    grid-template-columns: repeat(2,1fr);
}
.community .wrapper>.contents .wrap .item3>.contain>div{
    width: 100%;
    height: 100%;
}
.community .wrapper>.contents .wrap .item3>.contain>div.user-project-infor{
    display: flex;
    flex-direction: column;
    gap: 15px;

}
.community .wrapper>.contents .wrap .item3>.contain>div.user-project-infor>div{
    width: 100%;
    height: 100%;
    background: #000;
    border-radius: 8px;
}
.community 
.wrapper>.contents .wrap 
.item3>.contain>div.user-project-infor{
    position: relative;
    overflow: hidden;
}
.community 
.wrapper>.contents .wrap 
.item3>.contain>div.user-project-infor>div.user-project-title{
    padding: 15px;
    height: auto;
}
.community 
.wrapper>.contents .wrap 
.item3>.contain>div.user-project-infor>div.project-description{
    height: 100%;
}
.community 
.wrapper>.contents .wrap 
.item3>.contain>div.user-project-infor>div.user-project-title .top{
    display: flex;
    justify-content: space-between;
    gap: 25px;
}
.community 
.wrapper>.contents .wrap 
.item3>.contain>div.user-project-infor>div.user-project-title .top .title h1{
    color: rgba(255,255,255,1);
    font-weight: 700;
    font-size: 1.50em;
    
}       
.community 
.wrapper>.contents .wrap 
.item3>.contain>div.user-project-infor>div.user-project-title .top .title h1 span{
    font-size: 0.7em;
    font-weight: 400;
    opacity: 0.25;
    padding-left: 10px;
}
.community 
.wrapper>.contents .wrap 
.item3>.contain>div.user-project-infor>div.user-project-title .top .share{
    display: flex;
    gap: 15px;
    align-items: center;
}
.item3>.contain>div.user-project-infor>div.user-project-title .top .share>div{
    background: rgba(255,255,255,.15);
    padding: 8px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
}
.item3>.contain>div.user-project-infor>div.user-project-title .top .share>div svg{
    width: 20px;
    height:20px;
    opacity: 0.8;
}
.item3>.contain>div.user-project-infor>div.user-project-title .top .share>div.sns svg{
    height: 15px;
    width: 15px;
}
.community 
.wrapper>.contents .wrap 
.item3>.contain>div.user-project-infor>div.user-project-title .bottom{
    padding-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    flex-wrap: wrap;
}
.community 
.wrapper>.contents .wrap 
.item3>.contain>div.user-project-infor>div.user-project-title 
.bottom .profile > div{
    display: flex;
    align-items: center;
    gap: 10px;
}
.community 
.wrapper>.contents .wrap 
.item3>.contain>div.user-project-infor>div.user-project-title 
.bottom .profile > div>.img{
    width: 35px;
    height: 35px;
    background: #459AFF;
    border-radius: 50%;
    font-weight: 700;
    font-size: 1.50em;
    color: rgba(255,255,255,1);
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}
.community 
.wrapper>.contents .wrap 
.item3>.contain>div.user-project-infor>div.user-project-title 
.bottom .profile > div>p{
    color: rgba(255,255,255,.8);
    font-weight: 500;
    user-select: none;
}
.community 
.wrapper>.contents .wrap 
.item3>.contain>div.user-project-infor>div.user-project-title 
.bottom .interaction{
    display: flex;
    gap: 10px;
    align-items: center;
}
.community 
.wrapper>.contents .wrap 
.item3>.contain>div.user-project-infor>div.user-project-title 
.bottom .interaction div{

    border-radius: 5px;
    padding: 8px 15px 8px 15px;
}
.community 
.wrapper>.contents .wrap 
.item3>.contain>div.user-project-infor>div.user-project-title 
.bottom .interaction .visit{
    background: #459AFF;
    font-weight: 600;
    color: rgba(255,255,255,1);
    box-shadow: 0 4px 4px rgba(8,8,8,.08),0 1px 2px rgba(8,8,8,.2),inset 0 6px 12px rgba(255,255,255,.12),inset 0 1px 1px rgba(255,255,255,.2);

}
.community 
.wrapper>.contents .wrap 
.item3>.contain>div.user-project-infor>div.user-project-title 
.bottom .interaction .icon{
    background: rgba(255,255,255,.15);
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: center;
}
.community 
.wrapper>.contents .wrap 
.item3>.contain>div.user-project-infor>div.user-project-title 
.bottom .interaction .icon svg{
    width: 15px;
    height: 15px;
    opacity: 0.8;
}
.community 
.wrapper>.contents .wrap 
.item3>.contain>div.user-project-infor>div.user-project-title 
.bottom .interaction .icon p{
    color: rgba(255,255,255,.8);
    
}

.community 
.wrapper>.contents .wrap 
.item3>.contain>div.user-project-infor>.project-description{
    padding: 15px;

}
.community 
.wrapper>.contents .wrap 
.item3>.contain>div.user-project-infor>.project-description .title{
    display: flex;
    gap: 15px;
    align-items: center;
}
.community 
.wrapper>.contents .wrap 
.item3>.contain>div.user-project-infor>.project-description 
.title .t h2{
    color: rgba(255,255,255,.8);
}
.community 
.wrapper>.contents .wrap 
.item3>.contain>div.user-project-infor>.project-description 
.title .tag > div{
    font-size: .8em;
    color: #459AFF;
    background: rgba(69,154,255,.25);
    padding: 8px;
    border-radius: 5px;
}
.community 
.wrapper>.contents .wrap 
.item3>.contain>div.user-project-infor>.project-description
.description-t{
    padding-top: 35px;
    padding-bottom: 35px;
}   
.community 
.wrapper>.contents .wrap 
.item3>.contain>div.user-project-infor>.project-description
.description-t p{
    color: rgba(255,255,255,.8);
}
.community 
.wrapper>.contents .wrap 
.item3>.contain>div.user-project-infor>.project-description
.division{
    width: 100%;
    height: 1px;
    background: rgba(255,255,255,.2);
}
.community 
.wrapper>.contents .wrap 
.item3>.contain>div.user-project-infor>.project-description
.user-comments{
    display: flex;
    margin-top: 35px;
    flex-direction: column;
}
.community 
.wrapper>.contents .wrap 
.item3>.contain>div.user-project-infor>.project-description
.user-comments > div:not(:nth-child(1)){
    margin-top: 35px;
}
.community 
.wrapper>.contents .wrap 
.item3>.contain>div.user-project-infor>.project-description
.user-comments > div h2{
    color: rgba(255,255,255,.8);
    font-size: 1.13em;
}
.community 
.wrapper>.contents .wrap 
.item3>.contain>div.user-project-infor>.project-description
.user-comments > div.u{
    display: flex;
    gap: 10px;

}
.community 
.wrapper>.contents .wrap 
.item3>.contain>div.user-project-infor>.project-description
.user-comments > div.u .u-profile{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    font-weight: bold;
    font-size: 1.25em;
    color: rgba(255,255,255,1);
    display: flex;
    justify-content: center;
    align-items: center;
    background: #459AFF;
    user-select: none;
}
.community 
.wrapper>.contents .wrap 
.item3>.contain>div.user-project-infor>.project-description
.user-comments > div.u .u-chat > div {
    padding-top: 8px;
}
.community 
.wrapper>.contents .wrap 
.item3>.contain>div.user-project-infor>.project-description
.user-comments > div.u .u-chat > div p{
    color: #fff;
    font-size: 14px;
}
.community 
.wrapper>.contents .wrap 
.item3>.contain>div.user-project-infor>.project-description
.user-comments > div.u .u-chat > div.u-name{
    padding-top: 0;
    font-size: 14px;
}
.community 
.wrapper>.contents .wrap 
.item3>.contain>div.user-project-infor>.project-description
.user-comments > div.u .u-chat > div.u-name p span{
    opacity: 0.8;
    font-weight: 400;
    font-size: 12px;
    padding-left: 2px;
}
.community 
.wrapper>.contents .wrap 
.item3>.contain>div.user-project-infor>.project-description
.user-comments > div.u .u-chat > div.u-state{
    opacity: 0.8;
}
.community 
.wrapper>.contents .wrap 
.item3>.contain>div.user-project-infor>.project-description
.user-comments > div.u .u-chat > div.reply p {
    font-size: 12px;
    opacity: 0.5;
}
.community 
.wrapper>.contents .wrap 
.item3>.contain>div.user-project-infor>.project-description
.user-comments > div.u .u-chat .e{
    display: flex;
    align-items: center;
    gap: 10px;
}
.community 
.wrapper>.contents .wrap 
.item3>.contain>div.user-project-infor>.project-description
.user-comments > div.u .u-chat .e .replise{
    padding: 8px;
    background: #459AFF3b;
    border-radius: 5px;
}
.community 
.wrapper>.contents .wrap 
.item3>.contain>div.user-project-infor>.project-description
.user-comments > div.u .u-chat .e .replise p{
    opacity: 1;
    color: #459AFF;
}
/*
.community 
.wrapper>.contents .wrap 
.item3>.contain>div.user-project-infor>.project-description
.user-comments > div:nth-child(1) .u-profile{
    background: #459AFF;
}
.community 
.wrapper>.contents .wrap 
.item3>.contain>div.user-project-infor>.project-description
.user-comments > div:nth-child(2) .u-profile{
    background: #7B81BF;
}
.community 
.wrapper>.contents .wrap 
.item3>.contain>div.user-project-infor>.project-description
.user-comments > div:nth-child(3) .u-profile{
    background: #AF40FB;
}
*/
.community 
.wrapper>.contents .wrap 
.item3>.contain>div.user-project-infor>.project-description
.comment{
    position: absolute;
    bottom: 0px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 15px;
    right: 0;
    padding: 15px;
    padding-left: 15px;
    padding-right: 15px;

}
.community 
.wrapper>.contents .wrap 
.item3>.contain>div.user-project-infor>.project-description
.comment .profile{
    width: 35px;
    height: 35px;
    min-width: 35px;
    background: #459AFF;
    border-radius: 50%;
    font-size: 1.5em;
    color: rgba(255,255,255,1);
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 4px rgba(8,8,8,.08),0 1px 2px rgba(8,8,8,.2),inset 0 6px 12px rgba(255,255,255,.12),inset 0 1px 1px rgba(255,255,255,.2);
}
.community 
.wrapper>.contents .wrap 
.item3>.contain>div.user-project-infor>.project-description
.comment .input{
    width: 100%;
    height: auto;
    background: rgba(255,255,255,.15);
    border-radius: 50px;
    padding: 12px 15px;
    color: rgba(255,255,255,.5);
    font-weight: 500;
}
.community 
.wrapper>.contents .wrap 
.item3>.contain>div.user-project-infor>.project-description
.comment .submit{
    width: 25%;
    height: 100%;
    padding: 12px 15px;
    border-radius: 50px;
    background: #459AFF;
    color: rgba(255,255,255,1);
    display: flex;
    justify-content: center;
    font-weight: 500;
    box-shadow: 0 4px 4px rgba(8,8,8,.08),0 1px 2px rgba(8,8,8,.2),inset 0 6px 12px rgba(255,255,255,.12),inset 0 1px 1px rgba(255,255,255,.2);
}
.community .wrapper>.contents .wrap .item3>.contain>div.rel-category>div{
    width: 100%;
    height: 100%;
    background: #000;
    border-radius: 8px;
    padding: 15px;
}
.community .wrapper>.contents .wrap .item3>.contain>div.rel-category>div .like-category .title h2{
    font-size: 1.50em;
    color: rgba(255,255,255,1);
    font-weight: 700;
}
.community .wrapper>.contents .wrap .item3>.contain>div.rel-category>div .like-category .items{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    width: 100%;
    height: auto; 
    margin-top: 15px;
}
.community .wrapper>.contents 
.wrap .item3>.contain>div.rel-category>div 
.like-category .items > div{
    height: auto;
    width: auto;
}
.community .wrapper>.contents 
.wrap .item3>.contain>div.rel-category>div 
.like-category .items > div .img {
    width: 100%;
    overflow: hidden;
}
.community .wrapper>.contents 
.wrap .item3>.contain>div.rel-category>div 
.like-category .items > div .img img{
    object-fit: cover;
    height: auto;
    display: block;
    width: 100%;
    
    border-radius: 5px;
    user-select: none;
}
.community .wrapper>.contents 
.wrap .item3>.contain>div.rel-category>div 
.like-category .items > div .img>p{
    padding-top: 8px;
    color: rgba(255,255,255,.8);
    font-weight: 500;
    font-size: 0.80vw;
}
.community .wrapper>.contents 
.wrap .item3>.contain>div.rel-category>div .more{
    margin-top: 35px;
}
.community .wrapper>.contents 
.wrap .item3>.contain>div.rel-category>div .more .more-title h2{
    font-weight: 700;
    color: rgba(255,255,255,1);
    font-size: 1.50em;
}
.community .wrapper>.contents 
.wrap .item3>.contain>div.rel-category>div .more .more-items{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
    
    margin-top: 15px;
}
.community .wrapper>.contents 
.wrap .item3>.contain>div.rel-category>div .more .more-items>div{
    width: 100%;
    overflow: hidden;
    position: relative;
    height: 100%;
}
.community .wrapper>.contents 
.wrap .item3>.contain>div.rel-category>div .more .more-items>div img{
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
    user-select: none;
}
#communityMoreProjectScale{
    transform: scale(1);
}
.framefix-footer{
    position: relative;
    margin-top: 50vh;
}
.framefix-footer .wrapper{
    width: 1680px;
    max-width: 100%;
    padding: 25px;
    margin: 0 auto;
    height: auto;
}
.framefix-footer .wrapper .contain{
    width: 100%;
    height:900px;
    border-radius: 15px;
    overflow: hidden;
    outline: 25px solid rgba(255,255,255,.1);
    
}
.framefix-footer .wrapper .contain .wrap{
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    background: #171717;
    border-radius: 15px;
}
.framefix-footer .wrapper .contain .wrap .head{
    width: 100%;
    height: 65px;
    background: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(255,255,255,.1);
    padding: 15px;
    gap: 35px;
    
}
.framefix-footer .wrapper .contain .wrap .head .framefix-project{
    display: flex;
    gap: 10px;
    align-items: center;
}
.framefix-footer .wrapper .contain .wrap .head .logo svg{
   height: 35px;
}
.framefix-footer .wrapper .contain .wrap .head~.side{
    display: flex;
    z-index: 555;
    justify-content: space-between;
    gap: 35px;
    width: 100%;
    height: 100%;
}
.framefix-footer .wrapper .contain .wrap .head .framefix-project .name p{
    color: rgba(255,255,255,1);
    font-size: 15px;
    line-height: 65px;
    user-select: none;
    vertical-align: middle;
}
.framefix-footer .wrapper .contain .wrap .head .framefix-project .name p span{
    color: rgba(2555,255,255,.35);
}
.framefix-footer .wrapper .contain .wrap .head .framefix-project .free{
    color: rgba(255,255,255,1);
    font-weight: 500;
    font-size: 13px;
    background: #459AFF;
    border-radius: 3px;
    padding: 3px 8px;
}
.framefix-footer .wrapper .contain .wrap .head .u-interaction{
    display: flex;
    align-items: center;
    gap: 25px;
}
.framefix-footer .wrapper .contain .wrap .head .u-interaction > div{
    display: flex;
    align-items: center;
    gap: 5px;
}
.framefix-footer .wrapper .contain .wrap .head .u-interaction > div svg{
    vertical-align: middle;
    height: 100%;
}
.framefix-footer .wrapper .contain .wrap .head .u-interaction > div svg:nth-child(2){
    height: 5px;
}
.framefix-footer .wrapper .contain .wrap .head .u-interaction .cursor{
    
    background: #459AFF;
    width: 100%;
    height: 100%;
    display: flex;
    width: 45px;
    height: 45px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.framefix-footer .wrapper .contain .wrap .head .u-interaction .cursor svg{
    vertical-align: middle;
    margin-left: 5px;
}
.framefix-footer .wrapper .contain .wrap .head .u-interaction .hr {
    width: 3px;
    height: 30px;
    background: rgba(255,255,255,.2);
}
.framefix-footer .wrapper .contain .wrap .head .u-interaction .zoom-in{
    gap: 15px;
}
.framefix-footer .wrapper .contain .wrap .head .u-interaction .zoom-in .num{
    font-size: 14px;
    color: rgba(255,255,255,1);
}
.framefix-footer .wrapper .contain .wrap .head .user-publish{
    display: flex;
    gap: 15px;
    align-items: center;
}
.framefix-footer .wrapper .contain .wrap .side .left{
    display: flex;
    height: 100%;
    z-index: 555;
    width: auto;
}
.framefix-footer .wrapper .contain .wrap .head .user-publish .user-infor{
    display: flex;
    background-color:#2B2B2B;
    height: 45px;
    width: 65px;
    align-items: center;
    gap: 5px;
    border-radius: 50px;
    padding: 5px;
}
.framefix-footer .wrapper .contain .wrap .head .user-publish .user-infor>div{
    width: 35px;
    height: 100%;
    border-radius: 50%;
    background: #459AFF;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255,255,255,1);
    font-weight: bold;
    font-size: 1.13em;
    user-select: none;
}
.framefix-footer .wrapper .contain .wrap .head .user-publish .user-infor svg{
    height:6px;
    vertical-align: middle;
}
.framefix-footer .wrapper .contain .wrap .head .user-publish .publish-btn{
    color: rgba(255,255,255,1);
    font-size: 13px;
    background: #459AFF;
    border-radius: 5px;
    padding: 8px 15px;
}
.framefix-footer .wrapper .contain .wrap .head .user-publish .an{
    padding: 8px 10px;
    border-radius: 5px;
    background: #2B2B2B;
}
.framefix-footer .wrapper .contain .wrap .side .left .category{
    display: flex;
    flex-direction: column;
    width: auto;
    height: 100%;
    align-items: center;
    border-right: 1px solid rgba(255,255,255,.1);
    background: #000;
}
.framefix-footer .wrapper .contain .wrap .side .left .category>div{
    text-align: center;
    padding: 15px;
    width: 100%;
}
.framefix-footer .wrapper .contain .wrap .side .left .category>div.layer{
    border-right: 1px solid #459AFF;
}
.framefix-footer .wrapper .contain .wrap .side .left .category>div>.t{
    padding-top: 5px;
}
.framefix-footer .wrapper .contain .wrap .side .left .category>div>.t span{
    color: rgba(255,255,255,1);
    font-size: 14px;
    text-transform: capitalize;
}
.framefix-footer .wrapper .contain .wrap .side .left .assets{
    width: 240px;
    background: #000;
}
.framefix-footer .wrapper .contain .wrap .side .left .assets .close-icon{
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255,255,255,.1);
    border-radius: 5px;
}
.framefix-footer .wrapper .contain .wrap .side .left .assets .pages .icons{
    display: flex;
    gap: 10px;
    align-items: center;
}
.framefix-footer .wrapper .contain .wrap .side .left .assets .pages .icons > div:nth-child(2) svg{
    vertical-align: middle;
}
.framefix-footer .bottom-blur{
    bottom: -50px;
    width: 100%;
    height: 200px;
    position: absolute;
    left: 0;
    background: #000;
    filter: blur(25px);
    z-index: 5555;
}
.framefix-footer .wrapper .contain .wrap .side .left .assets .pages .page-top .items{
    padding-left: 12px;
}
.framefix-footer .wrapper .contain .wrap .side .left .assets .pages .page-top .items>div{
    padding-top: 12px;
    display: flex;
    align-items: center;
    gap: 8px;
}
.framefix-footer .wrapper .contain .wrap .side .left .assets .pages .page-top .items>div:nth-child(2){
    opacity: 0.5;
}
.framefix-footer .wrapper .contain .wrap .side .left .assets .pages .page-top .items p{
    color: rgba(255,255,255,1);
    font-size: 12px;
    text-transform: capitalize;
}
.framefix-footer .wrapper .contain .wrap .side .left .assets .layer{
    padding: 15px;

}
.framefix-footer .wrapper .contain .wrap .side .left .assets .layer h4{
    color: rgba(255,255,255,1);
    font-size: 15px;
    font-weight: 500;
}
.framefix-footer .wrapper .contain .wrap .side .left .assets .layer .frame-contain {
    padding-top: 15px;
}
.framefix-footer .wrapper .contain .wrap .side .left .assets .layer .frame-contain .frame .h{
    display: flex;
    align-items: center;
    padding: 8px;
    padding-top: 0;
    padding-bottom: 0;
    gap: 10px;
}
.framefix-footer .wrapper .contain .wrap .side .left .assets .layer .frame-contain .frame .h svg{
    height: 25px;
    background: black;
}
.framefix-footer .wrapper .contain .wrap .side .left .assets .layer .frame-contain  p{
    color: rgba(255,255,255,1);
    font-size: 12px;
}
.framefix-footer .wrapper .contain .wrap .side .left .assets .layer .frame-contain .in-e{
    padding-top: 15px;
    padding-left: 42px;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
}
.framefix-footer .wrapper .contain .wrap .side .left .assets .layer .frame-contain .in-e .e-infor{
    display: flex;
    gap: 10px;
    align-items: center;

}
.space{
    padding: 15px;
    border-bottom: 1px solid rgba(255,255,255,.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}
.pages.space{
    align-items: flex-start;
}
.space h4{
    font-size: 15px;
    font-weight: 500;
    color: rgba(255,255,255,1);
}
.framefix-footer .wrapper .contain .wrap .side .right{
    width: 300px;
    height: 100%;
    background: #000;
    z-index: 5;
}
.elements{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.elements .work-contents {
    position: relative;
    display: flex;
    align-items: flex-end;
    gap: 15px;
}
.elements .work-contents >div{
    overflow: hidden;
}
.elements .work-contents .desktop>div{
    width: 550px;
    background: #000;
    height: 700px;
}
.elements .work-contents  .mobile>div{
    width: 250px;
    border-radius: 15px;
    height: 350px;
    background: #000;
}
.elements .work-contents>div>p{
    font-size: 12px;
    color: rgba(255,255,255,.2);
    padding-bottom: 5px;
    user-select: none;
}
.framefix-footer>.title{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 5em;
    padding-top: 5em;
}
.framefix-footer>.title>div{
    text-align: center;
}
.framefix-footer>.title h1{
    color: rgba(255,255,255,1);
    font-weight: 800;
    font-size: 6em;
}
.framefix-footer>.title p{
    color: rgba(255,255,255,.8);
    font-weight: 600;
    font-size: 1.5em;
    padding-top: 35px;
}
.framefix-footer>.title>div .btn{
    padding-top: 35px;
    display: flex;
    justify-content: center;
}
.framefix-footer>.title>div .btn a{
    width: fit-content;
    height: auto;
    display: block;
    padding: 5px;
    padding-left: 15px;
    border-radius: 500px;
    background: rgba(255,255,255,.2);
    color: rgba(255,255,255,1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .3s;
    font-weight: 600;
    letter-spacing: 0.3px;
    outline: 0px solid transparent;
}
.framefix-footer>.title>div .btn a:hover{
    background: #459AFF;
    outline: 8px solid rgba(255,255,255,.2);
}
.framefix-footer>.title>div .btn a:hover .next{
    background: #fff;
}
.framefix-footer>.title>div .btn a .next{
    width: 45px;
    height: 45px;
    background: #4A96FE;
    transition: .3s;
    border-radius: 50%;
    margin-left: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 4px rgba(8,8,8,.08),0 1px 2px rgba(8,8,8,.2),inset 0 6px 12px rgba(255,255,255,.12),inset 0 1px 1px rgba(255,255,255,.2);

}
.framefix-footer>.title>div .btn a .next svg path{
    transition: .3s;
}
.framefix-footer>.title>div .btn a:hover .next svg path{
    fill: #459AFF;

}
.background{
    position: absolute;
    left: -100px;
    top: 0;
    width: 130vw;
    height: 70%;
    z-index: -1;
    background: linear-gradient(to right, #2562FF ,#E960FF);
    filter: blur(35px);
}


.elements .work-contents .desktop>div{
    padding: 15px;
}
#desktop-frame>div .header .nav{
    padding: 12px 15px;
}