.framefix .contents .sec-content .view{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    color: rgba(255,255,255,1);
    border-radius: 15px;
    overflow: hidden;
}
.framefix .contents .sec-content .view .view-header{
    height: 100px;
    min-height: 100px;
    width: 100%;
    background: #000;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 25px;
    padding-right: 25px;
}
.framefix .contents .sec-content .view .view-header .prev{
    font-size: 2.00em;
}
.framefix .contents .sec-content .view > div.title{
    padding: 3em;
}
.framefix .contents .sec-content .view > div.title h1{
    font-size: 3.00em;
    max-width: 400px;
}
.framefix .contents .sec-content .view .list-wrapper{
    width: 100%;
    height: auto;
    overflow: hidden;
    padding: 0em 3em 0em 3em;
}
.framefix .contents .sec-content .view .list-wrapper .grid{
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(4,1fr);
}
.framefix .contents .sec-content .view .list-wrapper .grid>div{
    height: 420px;
    background: #000;
    border-radius: 15px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.txt-box{
    background: #D9D9D9;
    border-radius: 15px;
    
    min-width: 0;
    max-width: 100%;
}
.view-item img{
    user-select: none;
}
#view-item1 > .header{
    height: 30px;
    width: 100%;
    background: #000;
    padding: 8px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}
#view-item1 > .header .ex-nav{
    display: flex;
    gap: 15px;
}
#view-item1 > .header .ex-nav div{
    font-size: 9px;
}
#view-item1 .main{
    padding: 15px;
}
#view-item1 .main > div{
    width: 100%;
    height: 155px;
    background-image: url("./images/gradient-mountain.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: flex-end;
}

#view-item1 .main > div > div{
    width: 150px;
    height: 60px;
    min-width: 0;
    background: #14141E;
    border-top-right-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 15px;
    padding-right: 15px;
    gap: 10px;
}

#view-item1 .main > div > div .txt-box:nth-child(1){
    max-width: 65px;
    border-radius: 50px;
    min-width: 0;
    height: 10px;
}
#view-item1 .main > div > div .txt-box:nth-child(2){
    width: 95px;
    border-radius: 50px;
    height: 10px;
    opacity: 0.5;
}
#view-item1 .section{
    width: 100%;
}
#view-item1 .section > div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#view-item1 .section > div .txt-boxs {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    max-width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
#view-item1 .section > div .txt-boxs .txt-box-section:nth-child(2){
    width: 105px;
    height: 10px;
    opacity: 0.5;
}
#view-item1 .section > div .txt-boxs .txt-box-section:nth-child(3){
    width: 125px;
    height: 10px;
}
#view-item1 .section .content {
    margin-top: 15px;
    position: relative;
}
#view-item1 .section .content .back{
    width: 245px;
    height: 180px;
    background:#2D2E32;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
#view-item1 .section .content .back img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}
#view-item1 .section .content .deco{
    background:#D9D9D9;
    opacity: 0.1;
    position: absolute;
    top: -12.5px;
    right: -12.5px;
}
#view-item1 .section .content .deco:nth-child(2){
    width: 35px;
    height: 35px;
    border-radius: 8px;
}
#view-item1 .section .content .deco:nth-child(3){
    width: 15.5px;
    height: 15.5px;
    top: -30.5px;
    right: -30.5px;
    border-radius: 5px;
}
#view-item2{
    background: white;
}
#view-item2 .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    padding-left : 10px;
    padding-right: 10px;
}
#view-item2 .header .menu > div{
    width: 10px;
    height: 2px;
    background: rgba(0,0,0,.5);
    border-radius: 5px;
}
#view-item2 .header .menu > div:not(:nth-child(1)){
    margin-top: 2px;
}
#view-item2 .main{
    width: 100%;
    height: 120px;
    position: relative;
    display: flex;
    justify-content: flex-end;
}
#view-item2 .main .txt-boxs{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    max-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 35px;
}
#view-item2 .main .txt-boxs .txt-box:nth-child(1){
    width: 130px;
    height: 10px;
}
#view-item2 .main .txt-boxs .txt-box:nth-child(2){
    width: 70px;
    margin-top: 8px;
    height: 10px;
}
#view-item2 .main .img-content{
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #E9E9E9;
}
#view-item2 .main .img-content img{
    width: 30px;
    height: auto;
    object-fit: cover;
}
#view-item2 .link-boxs{
    width: 100%;
    height: auto;
}
#view-item2 .link-boxs .wrap{
    display: grid;
    grid-template-columns: repeat(5,1fr);
}
#view-item2 .link-boxs .wrap > div{
    height: 60px;
    margin-left: -1px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 8px;
}
#view-item2 .link-boxs .wrap > div:nth-child(1){
    background: #000;
}
#view-item2 .link-boxs .wrap > div:nth-child(2){
    background: #1D1D1D;
}
#view-item2 .link-boxs .wrap > div:nth-child(3){
    background: #363636;
}
#view-item2 .link-boxs .wrap > div:nth-child(4){
    background: #636363;
}
#view-item2 .link-boxs .wrap > div .title-content{
    width: 30px;
    height: 8px;
    border-radius: 50px;
    background: #D9D9D9;
}
#view-item2 .link-boxs .wrap > div .arrow{
    display: flex;
    justify-content: flex-end;
}
#view-item2 .link-boxs .wrap > div .arrow img{
    width: 15px;
    height: auto;
}
#view-item2 .section{
    width: 100%;
    height: auto;
    display: flex;
    gap: 15px;

}
#view-item2 .section .content{
    width: 120%;
    height: 132px;
    background: rgba(217,217,217,.2);
    padding-right: 12px;
    padding-bottom: 12px;
}
#view-item2 .section .content>div{
    width: 100%;
    height: 100%;
    background: #E9E9E9;
    display: flex;
    justify-content: center;
    align-items: center;
}
#view-item2 .section .content>div img{
    width: 30px;
    height: auto;
}
#view-item2 .section .txt-boxs{
    width: 100%;
    height: auto;
    padding-top: 15px;
}
#view-item2 .section .txt-boxs .big{
    width: 90px;
    height: 18px;
    border-radius: 50px;
    background: #D9D9D9;

}
#view-item2 .section .txt-boxs .box{
    padding-top: 12px;
    padding-bottom: 12px;
}
#view-item2 .section .txt-boxs .box .txt-box:nth-child(1){
    width: 70px;
    height: 7px;
}
#view-item2 .section .txt-boxs .box .txt-box:nth-child(2){
    width: 50px;
    margin-top: 5px;
    height: 7px;
}
#view-item2 .section2{
    width: 100%;
    display: flex;
    margin-top:35px;
    justify-content: center;
    align-items: center;
}
#view-item2 .section2 >div{
    width: 200px;
    height: 55px;
    background: #E9E9E9;
}
#view-item2 .section .txt-boxs .visit{
   width: 15px;
   
   width: 100%;
   color: #000;
}
#view-item2 .section .txt-boxs .visit >div{
    display: flex;
    gap: 5px;
    align-items: center;
    font-size: 9px;
}
#view-item2 .section .txt-boxs .visit .txt-box{
    width: 30px;
    height: 5px;
}
#view-item3 .header{
    padding: 8px;
    padding-left: 10px;
    padding-right: 10px;
    height: 30px;
    width: 100%;
    background: #fff;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
}
#view-item3 .header .ex-nav{
    display: flex;
    gap: 10px;

}
#view-item3 .header .ex-nav > div{
    width: 25px;
    height: 5px;
}
#view-item3 .main{
    width: 100%;
    height: 170px;
    background: #E9E9E9;
    display: flex;
    align-items: center;
    margin-top: -1px;
    justify-content: center;
}
#view-item3 .main .txt-boxs{
    width: 100%;
    height: auto;
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}
#view-item3 .main .txt-boxs .txt-box:nth-child(1){
    width: 200px;
    height: 18px;
}
#view-item3 .main .txt-boxs .txt-box:nth-child(2){
    width: 150px;
    height: 18px;
}
#view-item3 .section{
    margin-top: 35px;
    width: 100%;
    height: auto;
}
#view-item3 .section > .txt-title{
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: center;
}
#view-item3 .section > .txt-title .txt-box{
    width: 120px;
    height: 18px;
}
#view-item3 .section > .content{
    margin-top: 35px;
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    max-width: 100%;
    min-width: 0;
    gap: 15px;
    justify-content: center;
}
#view-item3 .section > .content .txt-boxs{
    max-width: 100%;
    min-width: 0;
}
#view-item3 .section > .content .txt-boxs > div{
    margin-top: 5px;
    
}
#view-item3 .section > .content .txt-boxs .txt-box:nth-child(1){
    width: 140px;
    height: 10px;
}
#view-item3 .section > .content .txt-boxs .txt-box:nth-child(2){
    width: 120px;
    height: 10px;
}
#view-item3 .section > .content .txt-boxs .txt-box:nth-child(3){
    width: 160px;
    height: 10px;
}
#view-item3 .section > .content .txt-boxs .txt-box:nth-child(4){
    width: 110px;
    height: 10px;
}
#view-item3 .section > .content .txt-boxs .txt-box:nth-child(5){
    width: 70px;
    height: 10px;
}
#view-item3 .section > .content .img-content{
    width: 160px;
    height: 86px;
    background: #E9E9E9;
    display: flex;
    justify-content: center;
    align-items: center;
}
#view-item3 .section > .content .img-content img{
    width: 30px;
    height: auto;
}
#view-item4{
    position: relative;
}
#view-item4 .header{
    width: 100%;
    display: flex;
    position: absolute;
    align-items: center;
    top: 0;
    left : 0;
    justify-content: space-between;
    padding: 8px 10px 8px 10px;
}
#view-item4 .header > .ex-nav{
    display: flex;
    gap: 15px;
}
#view-item4 .header > .ex-nav .txt-box{
    background: rgba(0,0,0,.2);
    width: 25px;
    height: 5px;
}
#view-item4 .banner{
    width: 100%;
    height: 100%;
    background: #E9E9E9;
    display: flex;
    justify-content: center;
    align-items: center;
}
#view-item4 .banner .txt-box{
    width: 200px;
    height: 30px;
}