.container {
    height: 100vh;
    width: 100%;
    max-width: 100%;
    background: #171717;
    overflow: hidden;
    position: relative;
}
.container *{
    user-select: none;
}
.container .wrapper{
    width: 100%;
    height: 100%;
    min-width: 724px;
}
.container .wrapper .headAppPointerFramefix{
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 11111;
    position: relative;
    height: 55px;
    width: 100%;
    border-bottom: 1px solid rgba(255,255,255,.1);
    background: #000;
    white-space: nowrap;
}
.container .wrapper .headAppPointerFramefix .headLeftColPointer{
    display: flex;
    align-items: center;
    height: 100%;
}
.container .wrapper .headAppPointerFramefix .headLeftColPointer .projectFrameFix{ 
    display: flex;
    gap: 10px;
    align-items: center;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
    height: inherit;
    transition: .25s;
}
.container .wrapper .headAppPointerFramefix .headLeftColPointer .projectFrameFix:hover{
    background: rgba(255,255,255,.1);
    margin-right: 10px;
}

.container .wrapper .headAppPointerFramefix .headLeftColPointer .projectFrameFix .framefixLogo{
    width: 25px;
    height: 30px;
    
}
.container .wrapper .headAppPointerFramefix .headLeftColPointer .projectFrameFix .projectName p{
    color: rgba(255,255,255,1);
    font-size: 14px;
    font-weight: 500;
    line-height: 60px;
}
.container .wrapper .headAppPointerFramefix .headLeftColPointer .projectFrameFix >svg{
    height: auto;
    width: 10px;
    margin-top: 5px;
    vertical-align: middle;
}
.container .wrapper .headAppPointerFramefix .headLeftColPointer  .plans a{
    color: rgba(255,255,255,1);
    padding: 3px 8px;
    border-radius: 3px;
    background: #459AFF;
    font-size: 12px;
}
.container .wrapper .mainContents{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    position: relative;
    white-space: nowrap;
}
canvas {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    cursor: url('./icons//cursor-icon/cursor.svg'), auto;
}
iframe{
    position: absolute;
    left:0;
    top: 0;
    
}
.wrapperLeftPanel{
    z-index: 88;
    height:100%;
    width: auto;
    position: relative;
}
.wrapperLeftPanel .panel{
    display: flex;
}
.wrapperLeftPanel .panel .plugins{
    gap: 35px;
    border-right: 1px solid rgba(255,255,255,.1);
    background: #000;
    overflow-y: scroll;
    height: 100vh;
}
.wrapperLeftPanel .panel .plugins ul{
    display: flex;
    position: relative;
    flex-direction: column;
    margin-bottom: 60px;
}
.wrapperLeftPanel .panel .plugins ul li{
    display: flex;
    flex-direction: column;
    padding-top: 15.5px;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
    padding-bottom: 15.5px;
    gap: 10px;
    position: relative;
    width: 100%;
    align-items: center;
}
.wrapperLeftPanel .panel .plugins ul li.activePlugin{
   box-shadow: -1px 0px 0 0 #459AFF inset; 
}
.wrapperLeftPanel .panel .plugins ul li p{
    color: rgba(255,255,255,1);
    font-size: 12px;
    text-transform: capitalize;
    font-weight: 500;
}
.wrapperLeftPanel .panel .leftSideComponents{
    width: 250px;
    height: 100vh;
    display: none;
    background: #000;
}
.wrapperLeftPanel .panel .leftSideComponents .assetsWrapperPlugin .T_H{
    padding: 15px;
    border-bottom: 1px solid rgba(255,255,255,.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.wrapperLeftPanel .panel .leftSideComponents .assetsWrapperPlugin .T_H h4{
    color: rgba(255,255,255,1);
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
}
.wrapperLeftPanel .panel .leftSideComponents .assetsWrapperPlugin .T_H .closeBtn{
    padding: 5px 8px;
    display: flex;
    cursor: pointer;
    background: rgba(255,255,255,.1);
    border-radius: 3px;
}
.wrapperLeftPanel .panel .leftSideComponents .assetsWrapperPlugin .T_H .closeBtn svg{
    height: auto;
    width: 7px;
}
.wrapperLeftPanel .panel .leftSideComponents .assetsWrapperPlugin .contentsPlugins p{
    color: rgba(255,255,255,1);
}
.wrapperRightPanel{
    z-index: 5;
    height: 100%;
    width:auto;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}
.wrapperRightPanel .openPanel{
    height: 100%;
    width: 60px;
    z-index: 5;
    background: #000;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}
.wrapperRightPanel .openPanel .openI{
    position: absolute;
    top: 50%;
    left: -30px;
    width: 30px;
    transform: translate(0,-50%);
}
.wrapperRightPanel .openPanel .openI svg{
    opacity: 0.5;
    transition: .25s;
}
.wrapperRightPanel .openPanel p{
    writing-mode: vertical-rl;
    color: rgba(255,255,255,.5);
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 12px;
    transition: .25s;
}
.wrapperRightPanel .openPanel:hover p{
    color: rgba(255,255,255,1);
}
.wrapperRightPanel .openPanel:hover svg{
    opacity: 1;
}
#moveLine{
    position: absolute;
    top: 0;
    background: hsl(213, 100%, 64%);
    right: 0;
    width: 1px;
    transition: right 0.3s ease, height 0.3s ease;
}
.canvasEditorContain{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: scroll;
    cursor: url('./icons//cursor-icon//cursor.svg'), auto;
}
.canvasEditorContain .stylesLayer{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.canvasEditorContain .drawingCanvas{
    width: 100%;
    height: 100%;
    position: absolute;
}
.canvasEditorContain .stylesLayer .layerSC{
    position: absolute;
    left: 0;
    top: 0;
    transform: translateZ(0px);
    width: 100%;
    height: 100%;
}
.canvasEditorContain .stylesLayer .layerSC .canvasEditor {
    position: absolute;
    transform: translate3d(0, 0, 0);
}
.canvasEditorContain .stylesLayer .layerSC .canvasEditor .editor{
    position: absolute;
    width: 100%;
    height: 100%;
    
}
.canvasEditorContain .stylesLayer .layerSC > .canvasEditor .frame{
    width: 600px;
    height:1900px;
    background: #fff;
    left: 500px;
    top: 155px;
    position: absolute;
}