.container {
    height: 100vh;
    width: 100%;
    max-width: 100%;
    background: #1B1B1B;
    overflow: hidden;
}
.container *{
    user-select: none;
}
.container .wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    max-width: 100%;
}
.container .wrapper .headAppPointerFramefix{
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
    height: 55px;
    width: 100%;
    border-bottom: 1px solid rgba(255,255,255,.1);
    background: #000;
}
.container .wrapper .headAppPointerFramefix .headLeftColPointer{
    display: flex;
    align-items: center;
    height: 100%;
}
.container .wrapper .headAppPointerFramefix .headLeftColPointer .projectFrameFix{ 
    display: flex;
    gap: 10px;
    align-items: center;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
    height: inherit;
    transition: .25s;
}
.container .wrapper .headAppPointerFramefix .headLeftColPointer .projectFrameFix:hover{
    background: rgba(255,255,255,.1);
    margin-right: 10px;
}

.container .wrapper .headAppPointerFramefix .headLeftColPointer .projectFrameFix .framefixLogo{
    width: 25px;
    height: 30px;
    
}
.container .wrapper .headAppPointerFramefix .headLeftColPointer .projectFrameFix .projectName p{
    color: rgba(255,255,255,1);
    font-size: 14px;
    font-weight: 500;
    line-height: 60px;
}
.container .wrapper .headAppPointerFramefix .headLeftColPointer .projectFrameFix >svg{
    height: auto;
    width: 10px;
    margin-top: 5px;
    vertical-align: middle;
}
.container .wrapper .headAppPointerFramefix .headLeftColPointer  .plans a{
    color: rgba(255,255,255,1);
    padding: 3px 8px;
    border-radius: 3px;
    background: #459AFF;
    font-size: 12px;
}
.container .wrapper .headAppPointerFramefix{
    
}
canvas {
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}