.container {
    height: 100vh;
    width: 100%;
    max-width: 100%;
    background: #171717;
    overflow: hidden;
    position: relative;
}
.container *{
    user-select: none;
}
.container .wrapper{
    width: 100%;
    height: 100%;
    max-width: 100%;
}
.container .wrapper .headAppPointerFramefix{
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 11111;
    height: 55px;
    width: 100%;
    border-bottom: 1px solid rgba(255,255,255,.1);
    background: #000;
    white-space: nowrap;
}
.container .wrapper .headAppPointerFramefix .headLeftColPointer{
    display: flex;
    align-items: center;
    height: 100%;
}
.container .wrapper .headAppPointerFramefix .headLeftColPointer .projectFrameFix{ 
    display: flex;
    gap: 10px;
    align-items: center;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
    height: inherit;
    transition: .25s;
}
.container .wrapper .headAppPointerFramefix .headLeftColPointer .projectFrameFix:hover{
    background: rgba(255,255,255,.1);
    margin-right: 10px;
}

.container .wrapper .headAppPointerFramefix .headLeftColPointer .projectFrameFix .framefixLogo{
    width: 25px;
    height: 30px;
    
}
.container .wrapper .headAppPointerFramefix .headLeftColPointer .projectFrameFix .projectName p{
    color: rgba(255,255,255,1);
    font-size: 14px;
    font-weight: 500;
    line-height: 60px;
}
.container .wrapper .headAppPointerFramefix .headLeftColPointer .projectFrameFix >svg{
    height: auto;
    width: 10px;
    margin-top: 5px;
    vertical-align: middle;
}
.container .wrapper .headAppPointerFramefix .headLeftColPointer  .plans a{
    color: rgba(255,255,255,1);
    padding: 3px 8px;
    border-radius: 3px;
    background: #459AFF;
    font-size: 12px;
}
.container .wrapper .mainContents{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    gap: 5em;
    position: relative;
    white-space: nowrap;
}
canvas {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    cursor: url('./icons//cursor-icon/cursor.svg'), auto;
}
iframe{
    position: absolute;
    left:0;
    top: 0;
    width: 100%;
    height: 100%;
    outline: none;
    
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.wrapperLeftPanel{
    z-index: 5;
    height:100%;
    width: 250px;
    background: #000;
}
.wrapperLeftPanel .panel .plugins{
    width: 80px;
    height: 100%;
}
.wrapperRightPanel{
    z-index: 5;
    height: 100%;
    width: 250px;
    background: #000;
}