section.main .wrapper .main-framefix .frame>div.framefix-ui{
    background: #000;
    overflow: hidden;
}
section.main .wrapper .main-framefix .frame>div.framefix-ui>div{
    width: 100%;
    height: 100%;
}
section.main .wrapper .main-framefix .frame>div.framefix-ui .ui-head{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding: 10px 15px;
    height: auto;
    background: #000;
    border-bottom: 1px solid rgba(255,255,255,.1);
}
section.main .wrapper .main-framefix .frame>div.framefix-ui .ui-head .p-logo svg{
    height: 100%;
    width: 25px;
    vertical-align: middle;
}
section.main .wrapper .main-framefix .frame>div.framefix-ui .ui-head .project-name{
    height: 100%;
    display: flex;
    width: auto;
    align-items: center;
    gap: 10px;
}
section.main .wrapper .main-framefix .frame>div.framefix-ui 
.ui-head .project-name .file-name p{
    color: rgba(255,255,255,1);
    font-size: 14px;

}
section.main .wrapper .main-framefix .frame>div.framefix-ui 
.ui-head .project-name .file-name p span{
    color: rgba(255,255,255,.5);
}
section.main .wrapper .main-framefix .frame>div.framefix-ui 
.ui-head .settings{
    display: flex;
    gap: 12px;
    align-items: center;
}
section.main .wrapper .main-framefix .frame>div.framefix-ui 
.ui-head .settings .common{
    padding: 6px 8px;
    height: 35px;
    background: #2b2b2b;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
section.main .wrapper .main-framefix .frame>div.framefix-ui 
.ui-head .settings .m-publish{
    padding: 8px 12px;
    height: 35px;
    font-size: 14px;
    background: #459AFF;
    border-radius: 5px;
    display: flex;
    align-items: center;
    color: rgba(255,255,255,1);
}
section.main .wrapper .main-framefix .frame>div.framefix-ui 
.ui-head .settings .zoom-in{
    display: flex;
    gap: 8px;
    align-items: center;
}
section.main .wrapper .main-framefix .frame>div.framefix-ui 
.ui-head .settings .zoom-in span{
    color: rgba(255,255,255,.8);
    font-size: 14px;
}
section.main .wrapper .main-framefix .frame>div.framefix-ui 
.ui-head .settings .zoom-in svg{
    width:10px;
    vertical-align: middle;
}
section.main .wrapper .main-framefix .frame>div.framefix-ui 
.ui-head .settings .user{
    padding: 5px;
    display: flex;
    height: 35px;
    align-items: center;
    gap: 5px;
    border-radius: 55px;
    background: #2b2b2b;
}
section.main .wrapper .main-framefix .frame>div.framefix-ui 
.ui-head .settings .user .profile{
    width: 30px;
    height: 30px;
    background: #459AFF;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255,255,255,1);
    font-weight: 600;
}
section.main .wrapper .main-framefix .frame>div.framefix-ui 
.ui-head .settings .user svg{
    width: 10px;
    vertical-align: middle;
}
section.main .wrapper .main-framefix .frame>div.framefix-ui .ui-body{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 35px;
    z-index: 11;
    height: 100%;
    position: relative;
}
section.main .wrapper .main-framefix .frame>div.framefix-ui .ui-body > div{
    height: 100%;
    background: #000;
}
section.main .wrapper .main-framefix .frame>div.framefix-ui 
.ui-body > div.plugins {
    display: flex;
}
section.main .wrapper .main-framefix .frame>div.framefix-ui 
.ui-body > div.plugins .option{
    width: auto;
    height: 100%;
    border-right: 1px solid rgba(255,255,255,.1);    
}
section.main .wrapper .main-framefix .frame>div.framefix-ui 
.ui-body > div.plugins .option>div{
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
section.main .wrapper .main-framefix .frame>div.framefix-ui 
.ui-body > div.plugins .option>div.p-layer{
    border-right: 1px solid #459AFF;
}
section.main .wrapper .main-framefix .frame>div.framefix-ui 
.ui-body > div.plugins .option>div p{
    padding-top: 8px;
    color: rgba(255,255,255,1);
    font-size: 12px;
}
section.main .wrapper .main-framefix .frame>div.framefix-ui 
.ui-body > div.plugins .assets{
    width: 250px;
}
section.main .wrapper .main-framefix .frame>div.framefix-ui 
.ui-body > div.plugins .assets .t-layer{
    padding: 15px;
    border-top: 1px solid rgba(255,255,255,.1);
    border-bottom: 1px solid rgba(255,255,255,.1);
    display: flex;
    justify-content: space-between;
    align-items: center;

}
section.main .wrapper .main-framefix .frame>div.framefix-ui 
.ui-body > div.plugins .assets .t-layer>div h4{
    color: rgba(255,255,255,1);
    font-weight: 500;
    font-size: 14px;
}
section.main .wrapper .main-framefix .frame>div.framefix-ui 
.ui-body > div.plugins .assets .t-layer .close-btn{
    padding: 5px 7px;
    display: flex;
    border-radius: 3px;

    justify-content: center;
    align-items: center;
    background: rgba(255,255,255,.1);
}
section.main .wrapper .main-framefix .frame>div.framefix-ui 
.ui-body > div.plugins .assets .pages{
    border-bottom: 1px solid rgba(255,255,255,.1);
}
section.main .wrapper .main-framefix .frame>div.framefix-ui 
.ui-body > div.plugins .assets .t-page{
    display: flex;
    padding: 15px;
    justify-content: space-between;
    
}
section.main .wrapper .main-framefix .frame>div.framefix-ui 
.ui-body > div.plugins .assets .t-page h4{
    color: rgba(255,255,255,1);
    font-weight: 500;
    font-size: 14px;
}
section.main .wrapper .main-framefix .frame>div.framefix-ui 
.ui-body > div.plugins .assets .t-page .pbi{
    display: flex;
    align-items: center;
    gap: 10px;
}
section.main .wrapper .main-framefix .frame>div.framefix-ui 
.ui-body > div.plugins .assets .pages .files{
    padding: 0px 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
section.main .wrapper .main-framefix .frame>div.framefix-ui 
.ui-body > div.plugins .assets .pages .files .page{
    display: flex;
    gap: 10px;
    align-items: center;
}
section.main .wrapper .main-framefix .frame>div.framefix-ui 
.ui-body > div.plugins .assets .pages .files .page:last-child{
    margin-bottom: 15px;
}
section.main .wrapper .main-framefix .frame>div.framefix-ui 
.ui-body > div.plugins .assets .pages .files .page p{
    color: rgba(255,255,255,1);
    text-transform: capitalize;
    font-size: 12px;
    letter-spacing: 0.5px;
}
section.main .wrapper .main-framefix .frame>div.framefix-ui 
.ui-body > div.plugins .assets .pages .files .page.folder p span{
    color: rgba(255,255,255,.5);
    padding-right: 5px;
}
section.main .wrapper .main-framefix .frame>div.framefix-ui 
.ui-body > div.plugins .assets .pages .files .page.p2{
    opacity: 0.5;
}
section.main .wrapper .main-framefix .frame>div.framefix-ui 
.ui-body > div.plugins .assets .layer{
    padding: 15px;
}
section.main .wrapper .main-framefix .frame>div.framefix-ui 
.ui-body > div.plugins .assets .layer>div h4 {
    color: rgba(255,255,255);
    font-weight: 500;
    font-size: 14px;
}
section.main .wrapper .main-framefix .frame>div.framefix-ui 
.ui-body > div.plugins .assets .layer .layer-e .frame-1{
    padding-top: 15px;
}
section.main .wrapper .main-framefix .frame>div.framefix-ui 
.ui-body > div.plugins .assets .layer .layer-e .frame-e{
    display: flex;
    gap: 10px;
    align-items: center;
}
section.main .wrapper .main-framefix .frame>div.framefix-ui 
.ui-body > div.plugins .assets .layer .layer-e .frame-e .arrow{
    width: auto;
    height: 6px;
}
section.main .wrapper .main-framefix .frame>div.framefix-ui 
.ui-body > div.plugins .assets .layer .layer-e .frame-1 
.frame-e~.frame-wrap {
    padding-top: 10px;
}
section.main .wrapper .main-framefix .frame>div.framefix-ui 
.ui-body > div.plugins .assets .layer .layer-e .frame-e p{
    color: rgba(255,255,255,1);
    font-size: 12px;
}
section.main .wrapper .main-framefix .frame>div.framefix-ui 
.ui-body > div.plugins .assets .layer .layer-e .frame-1 
.frame-e~.frame-wrap div{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    padding-right: 0;
}
section.main .wrapper .main-framefix .frame>div.framefix-ui 
.ui-body > div.plugins .assets .layer .layer-e .frame-1 
.frame-e~.frame-wrap div>div:nth-child(1){
    padding-left: 30px;
}
section.main .wrapper .main-framefix .frame>div.framefix-ui 
.ui-body > div.plugins .assets .layer .layer-e .frame-1 
.frame-e~.frame-wrap div p{
    font-size: 12px;
    color: rgba(255,255,255,1);
}
section.main .wrapper .main-framefix .frame>div.framefix-ui .ui-body > div.styles{
    width: 280px;
}
section.main .wrapper .main-framefix .frame>div.framefix-ui 
.ui-body > div.styles .tabs{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid rgba(255,255,255,.1);
}
section.main .wrapper .main-framefix .frame>div.framefix-ui 
.ui-body > div.styles .tabs > div {
    color: rgba(255,255,255,1);
    font-size: 14px;
    font-weight: 500;
}
section.main .wrapper .main-framefix .frame>div.framefix-ui 
.ui-body > div.styles .tabs > div:not(:nth-child(1)){
    opacity: 0.5;
}
section.main .wrapper .main-framefix .frame>div.framefix-ui 
.ui-body > div.styles .breakpoint{
    padding: 15px;
}
section.main .wrapper .main-framefix .frame>div.framefix-ui 
.ui-body > div.styles .breakpoint .breakpoint-option{
    display: flex;
    gap: 5px;
    align-items: center;

}
section.main .wrapper .main-framefix .frame>div.framefix-ui 
.ui-body > div.styles .breakpoint .breakpoint-option h4{
    color: rgba(255,255,255,1);
    font-size: 14px;
    
    font-weight: 500;
}
section.main .wrapper .main-framefix .frame>div.framefix-ui 
.ui-body > div.styles .breakpoint .breakpoint-option svg{
    width: auto;
    height: 5px;
}
section.main .wrapper .main-framefix .frame>div.framefix-ui 
.ui-body > div.styles .breakpoint .position{
    display: flex;
    gap: 33px;
    align-items: center;
}
section.main .wrapper .main-framefix .frame>div.framefix-ui 
.ui-body > div.styles .breakpoint .apply{
    margin-top: 15px;
}
section.main .wrapper .main-framefix .frame>div.framefix-ui 
.ui-body > div.styles .breakpoint .position .LP{
    color: rgba(255,255,255,.5);
    font-size: 12px;

}
section.main .wrapper .main-framefix .frame>div.framefix-ui 
.ui-body > div.styles .breakpoint .position  .p-value{
    height: 30px;
    display: flex;
    gap: 10px;
    align-items: center;
}
section.main .wrapper .main-framefix .frame>div.framefix-ui 
.ui-body > div.styles .breakpoint .position  .p-value >div{
    font-size: 12px;
    height: 100%;
    width: 70px;
    background: rgba(255,255,255,.15);
    display: flex;
    align-items: center;
    border-radius: 3px;
    padding-left: 8px;
}
section.main .wrapper .main-framefix .frame>div.framefix-ui 
.ui-body > div.styles .breakpoint .position  .p-value >div p{
    color: rgba(255,255,255,0.8);
}
section.main .wrapper .main-framefix .frame>div.framefix-ui 
.ui-body > div.styles .breakpoint .position  .p-value >div p span{
    color: rgba(255,255,255,.35);
}
section.main .wrapper .main-framefix .frame>div.framefix-ui 
.ui-body > div.styles .breakpoint .size{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
section.main .wrapper .main-framefix .frame>div.framefix-ui 
.ui-body > div.styles .breakpoint .size .SP p{
    color: rgba(255,255,255,.5);
    font-size: 12px;
}
section.main .wrapper .main-framefix .frame>div.framefix-ui 
.ui-body > div.styles .breakpoint .size .s-value{
    display: flex;
    gap: 10px;
    height: 30px;  
}
section.main .wrapper .main-framefix .frame>div.framefix-ui 
.ui-body > div.styles .breakpoint .size .s-value > .common{
    width: 70px;
    display: flex;
    align-items: center;
    background: rgba(255,255,255,.15);
    padding-left: 8px;
    border-radius: 3px;
}
section.main .wrapper .main-framefix .frame>div.framefix-ui 
.ui-body > div.styles .breakpoint .size .s-value > div p{
    font-size: 12px;
    color: rgba(255,255,255,.8);
}
section.main .wrapper .main-framefix .frame>div.framefix-ui 
.ui-body > div.styles .breakpoint .size .s-value > div p span{
    color: rgba(255,255,255,.35);
}
section.main .wrapper .main-framefix .frame>div.framefix-ui 
.ui-body > div.styles .breakpoint .size .s-value svg{
    vertical-align: middle;
}
section.main .wrapper .main-framefix .frame>div.framefix-ui 
.ui-body > div.styles .breakpoint .rotation{
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 30px;
}
section.main .wrapper .main-framefix .frame>div.framefix-ui 
.ui-body > div.styles .breakpoint .rotation .RP p{
    color: rgba(255,255,255,1);
    font-size: 12px;
    color: rgba(255,255,255,.5);
}
section.main .wrapper .main-framefix .frame>div.framefix-ui 
.ui-body > div.styles .breakpoint .rotation .r-value{
    display: flex;
    gap: 10px;
}
section.main .wrapper .main-framefix .frame>div.framefix-ui 
.ui-body > div.styles .breakpoint .rotation .r-value .rotate{
    display: flex;
    gap: 5px;
    align-items: center;
    height: 30px;
    width: 70px;
    border-radius: 3px;
    background: rgba(255,255,255,.15);
    padding-left: 8px;
}
section.main .wrapper .main-framefix .frame>div.framefix-ui 
.ui-body > div.styles .breakpoint .rotation .r-value .rotate svg{
    opacity: 0.5;
}
section.main .wrapper .main-framefix .frame>div.framefix-ui 
.ui-body > div.styles .breakpoint .rotation .r-value .rotate p{
    color: rgba(255,255,255,.8);
    font-size: 12px;
    position: relative;
}
section.main .wrapper .main-framefix .frame>div.framefix-ui 
.ui-body > div.styles .breakpoint .rotation .r-value .rotate p::after{
    content: '';
    position: absolute;
    right: -5px;
    top: 0;
    width: 3px;
    height: 3px;
    border-radius: 50%;    
    border: 1px solid rgba(255,255,255,.8);
}
section.main .wrapper .main-framefix .frame>div.framefix-ui 
.ui-body > div.styles .breakpoint .rotation .r-value .rotate~.flip{
    height: 30px;
    display: flex;
    gap: 10px;
}
section.main .wrapper .main-framefix .frame>div.framefix-ui 
.ui-body > div.styles .breakpoint .rotation .r-value .rotate~.flip>div{
    width: 30px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255,255,255,.15);
}
section.main .wrapper .main-framefix .frame>div.framefix-ui 
.ui-body > div.styles .layer-apply{
    padding: 15px;
}
section.main .wrapper .main-framefix .frame>div.framefix-ui 
.ui-body > div.styles .layer-apply .pass-through{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
section.main .wrapper .main-framefix .frame>div.framefix-ui 
.ui-body > div.styles .layer-apply .pass-through .option{
    display: flex;
    align-items: center;
    gap: 5px;

}
section.main .wrapper .main-framefix .frame>div.framefix-ui 
.ui-body > div.styles .layer-apply .pass-through .option svg{
    width: 10px;
    height: auto ;
}
section.main .wrapper .main-framefix .frame>div.framefix-ui 
.ui-body > div.styles .layer-apply .pass-through h4{
    font-size: 14px;
    font-weight: 500;
    color: rgba(255,255,255,1);
}
section.main .wrapper .main-framefix .frame>div.framefix-ui 
.ui-body > div.styles .layer-apply .option p{
    color: rgba(255,255,255,1);
    font-weight: 500;
    font-size: 14px;
}
section.main .wrapper .main-framefix .frame>div.framefix-ui 
.ui-body > div.styles .layer-apply .opacity-value{
    padding-top: 15px;
    display: flex;
    align-items: center;
    gap: 15px;
}
section.main .wrapper .main-framefix .frame>div.framefix-ui 
.ui-body > div.styles .layer-apply .opacity-value .opacity-range{
    width: 100%;
    border-radius: 5px;
    height: 3px;
    position: relative;
    background: #459AFF;

}
section.main .wrapper .main-framefix .frame>div.framefix-ui 
.ui-body > div.styles .layer-apply .opacity-value .percents{
    background: #2b2b2b;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 3px;
    color: rgba(255,255,255,.8);
}
section.main .wrapper .main-framefix .frame>div.framefix-ui 
.ui-body > div.styles .layer-apply .opacity-value .opacity-range::after{
    content: "";
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #459AFF;
    display: flex;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0,-50%);
}
section.main .wrapper .main-framefix .frame>div.framefix-ui 
.ui-body > div.styles .style-apply{
    padding: 15px;
}

section.main .wrapper .main-framefix .frame>div.framefix-ui 
.ui-body > div.styles .style-apply .style-add{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}
section.main .wrapper .main-framefix .frame>div.framefix-ui 
.ui-body > div.styles .style-apply .style-add h4{
    color: rgba(255,255,255,1);
    font-size: 14px;
    font-weight: 500;

}
section.main .wrapper .main-framefix .frame>div.framefix-ui 
.ui-body > div.styles .style-apply .style-add .style-add-icon svg{
    vertical-align: middle;
}
section.main .wrapper .main-framefix .frame>div.framefix-ui 
.ui-body > div.styles .style-apply .fill-color{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
    gap: 15px;
}
section.main .wrapper .main-framefix .frame>div.framefix-ui 
.ui-body > div.styles .style-apply .fill-color .t{
    color: rgba(255,255,255,.5);
    font-size: 12px;

}
section.main .wrapper .main-framefix .frame>div.framefix-ui 
.ui-body > div.styles .style-apply .fill-color .color-p{
    display: flex;
    align-items: center;
    gap: 10px;
}
section.main .wrapper .main-framefix .frame>div.framefix-ui 
.ui-body > div.styles .style-apply .fill-color .color-p .color-value{
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px;
    background: #2b2b2b;
    border-radius: 3px;
    justify-content: space-between;
    height: 30px;
    width: 115px;
}
section.main .wrapper .main-framefix .frame>div.framefix-ui 
.ui-body > div.styles .style-apply .fill-color .color-p .color-value .hex{
    display: flex;
    gap: 5px;
    width: 85%;
    height: 100%;
    align-items: center;
}
section.main .wrapper .main-framefix .frame>div.framefix-ui 
.ui-body > div.styles .style-apply .fill-color .color-p .color-value .hex p{
    color: rgba(255,255,255,.8);
    font-size: 12px;

}
section.main .wrapper .main-framefix .frame>div.framefix-ui 
.ui-body > div.styles .style-apply .fill-color .color-p .color-value .hex .fill{
    width: 20px;
    height: 20px;
    border-radius: 3px;
    background: #000;
}
section.main .wrapper .main-framefix .frame>div.framefix-ui 
.ui-body > div.styles .style-apply .fill-color .color-p .color-value svg{
    width: 10px;
    height: auto;
    vertical-align: middle;
}
section.main .wrapper .main-framefix .frame>div.framefix-ui 
.ui-body > div.styles .style-apply .fill-color .color-p .alpha-percents{
    font-size: 12px;
    color: rgba(255,255,255,.8);
    background: #2b2b2b;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    border-radius: 3px;
}
section.main .wrapper .main-framefix .frame>div.framefix-ui 
.ui-body > div.styles .style-apply .overflow{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
section.main .wrapper .main-framefix .frame>div.framefix-ui 
.ui-body > div.styles .style-apply .overflow>div p {
    color: rgba(255,255,255,.5);
    font-size: 12px;
}
section.main .wrapper .main-framefix .frame>div.framefix-ui 
.ui-body > div.styles .style-apply .overflow .overflow-option{
    height: 30px;
    width: 170px;
    background: #2b2b2b;
    border-radius: 3px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
section.main .wrapper .main-framefix .frame>div.framefix-ui 
.ui-body > div.styles .style-apply .overflow .overflow-option p{
    color: rgba(255,255,255,.8);
}
section.main .wrapper .main-framefix .frame>div.framefix-ui 
.ui-body > div.styles .style-apply .overflow .overflow-option p span{
    color: rgba(255,255,255,.35);
}
section.main .wrapper .main-framefix .frame>div.framefix-ui 
.ui-body > div.styles .style-apply .overflow .overflow-option svg{
    height: auto;
    width: 10px;
    vertical-align: middle;
}
section.main .wrapper .main-framefix .frame>div.framefix-ui 
.ui-body > div.styles .layout{
    padding: 15px;
}
section.main .wrapper .main-framefix .frame>div.framefix-ui 
.ui-body > div.styles .layout .layout-option{
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
section.main .wrapper .main-framefix .frame>div.framefix-ui 
.ui-body > div.styles .layout .layout-option h4{
    color: rgba(255,255,255,1);
    font-size: 14px;
    font-weight: 500;
}
section.main .wrapper .main-framefix .frame>div.framefix-ui 
.ui-body > div.styles .layout .layout-option svg{
    vertical-align: middle;
}
section.main .wrapper .main-framefix .frame>div.framefix-ui 
.ui-body > div.styles .layout .property{
    padding-top: 15px;
    width: 100%;
    gap: 10px;
}
section.main .wrapper .main-framefix .frame>div.framefix-ui 
.ui-body > div.styles .layout .property>div.default-property{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
section.main .wrapper .main-framefix .frame>div.framefix-ui 
.ui-body > div.styles .layout .property>div.default-property .common-t p{
    color: rgba(255,255,255,.5);
    font-size: 12px;
}
section.main .wrapper .main-framefix .frame>div.framefix-ui 
.ui-body > div.styles .layout .property>div.default-property.display .option{
    width: 170px;
    height: 30px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    background: #2b2b2b;
    border-radius: 3px;
    overflow: hidden;
    align-items: center;
}
section.main .wrapper .main-framefix .frame>div.framefix-ui 
.ui-body > div.styles .layout .property>div.default-property.display .option > div{
    font-size: 12px;
    height: 100%;
    line-height: 30px;
    color: rgba(255,255,255,.8);
    text-align: center;
}
section.main .wrapper .main-framefix .frame>div.framefix-ui 
.ui-body > div.styles .layout .property>div.default-property.display .option > div.selection{
    background: rgba(255,255,255,.2);
}
section.main .wrapper .main-framefix .frame>div.framefix-ui 
.ui-body > div.styles .layout .property>div.default-property.cmm .value-selections{
    display: flex;
    gap: 10px;
    margin-top: 10px;
}
section.main .wrapper .main-framefix .frame>div.framefix-ui 
.ui-body > div.styles .layout .property>div.default-property.cmm .value-selections .v{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 105px;
    height: 30px;
    background: #2b2b2b;
    border-radius: 3px;
    padding: 5px;
}
section.main .wrapper .main-framefix .frame>div.framefix-ui 
.ui-body > div.styles .layout .property>div.default-property.cmm .value-selections .v p{
    font-size: 12px;
    color: rgba(255,255,255,.8);
}
section.main .wrapper .main-framefix .frame>div.framefix-ui 
.ui-body > div.styles .layout .property>div.default-property.cmm .value-selections .parts{
    width: 55px;
    background: #2b2b2b;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}
section.main .wrapper .main-framefix .frame>div.framefix-ui 
.ui-body > div.styles .layout .property>div.default-property.cmm 
.value-selections .parts>div{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
section.main .wrapper .main-framefix .frame>div.framefix-ui 
.ui-body > div.styles .layout .property>div.default-property.cmm 
.value-selections .parts svg{
    vertical-align: middle;
}
section.main .wrapper .main-framefix .frame>div.framefix-ui 
.ui-body > div.styles .layout .property>div.default-property.cmm 
.value-selections .parts>div.selection{
    background: rgba(255,255,255,.2);
}
section.main .wrapper .main-framefix .frame>div.framefix-ui 
.ui-body > div.styles .defalult-cmm{
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgba(255,255,255,.1);
    border-bottom: 1px solid rgba(255,255,255,.1);
}
section.main .wrapper .main-framefix .frame>div.framefix-ui 
.ui-body > div.styles .defalult-cmm h4{
    color: rgba(255,255,255,1);
    font-weight: 500;
    font-size: 14px;
}
section.main .wrapper .main-framefix .frame>div.framefix-ui .ui-body .canvas-editor{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    perspective: 1000px;
}
section.main .wrapper .main-framefix .frame>div.framefix-ui .ui-body .canvas-editor .frame1{
    width: auto;
    height: 800px;
    position: relative;
    transform-origin: top;
    z-index: -1;
    transform: scale(1) rotateX(0) translateY(0) translateZ(0);
}
section.main .wrapper .main-framefix .frame>div.framefix-ui .ui-body .canvas-editor .frame1 > svg{
    box-shadow: 0px 4px 12px rgba(0,0,0,1);
}
section.main .wrapper .main-framefix .frame>div.framefix-ui .ui-body .canvas-editor .frame1 .head-selected-frame{
    margin-bottom: 10px;
    width: 100%;
    height: 35px;
    border-radius: 8px;
    background: rgba(255,255,255,.15);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 12px rgba(0,0,0,1);
}
section.main .wrapper .main-framefix .frame>div.framefix-ui .ui-body .canvas-editor .frame1 .head-selected-frame .frame-title{
    padding: 10px 12px;
    position: relative;
}
section.main .wrapper .main-framefix .frame>div.framefix-ui .ui-body .canvas-editor .frame1 .head-selected-frame .frame-title p{
    font-size: 12px;
    color: rgba(255,255,255,1);
    font-family: "Inter", sans-serif;
}
section.main .wrapper .main-framefix .frame>div.framefix-ui .ui-body .canvas-editor .frame1 .head-selected-frame .frame-title p span{
    color: rgba(255,255,255,0.5);
}
.frame-toolbar-selection{
    padding: 10px 12px;
}
.frame-toolbar-selection svg{
    vertical-align: middle;
}