.project-maker-init{
    background:#000;
    padding: 0;
    position: relative;
    overflow: hidden;
}
.project-maker-init>div{
    width: 300%;
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    height: 100%;
}
.project-maker-init .default{
    width: 100%;
}
.project-maker-init .head{
    height: 80px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: #171717;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    gap: 35px;

}
.project-maker-init .prev{
    grid-column: 1; 
    color: #fff;
    padding-left: 25px;
    font-size: 2em;
}
.project-maker-init .head .head-logo{
    grid-column: 2; 
    display: flex;
    justify-content: center;
    align-items: center;

}
.project-maker-init .head .head-logo svg{
    width: 135px;
}
.project-maker-init .contents{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 12em 25px 25px 25px;
    flex-direction: column;
}
.project-maker-init .contents .t{
    color: #fff;
    text-align: center;
}
.project-maker-init .contents .t h1{
    font-size: 3.00em;
}
.project-maker-init .contents .t p{
    padding-top: 25px;
    font-size: 1.25em;
    font-weight: 500;
    padding-bottom: 25px;
    max-width: 600px;
    color: rgba(255,255,255,.5);
}
.project-maker-init .contents .user-interaction{
    width: 100%;
    display: flex;
    margin-top: 35px;
    justify-content: center;

}
.project-maker-init .contents .user-interaction > div{
    width: 380px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.project-maker-init .contents .user-interaction .name{
    width: 100%;
    background: #171717;
    height: 65px;
    border-radius: 5px;
    
    font-size: 1.13em;
    padding: 12px 20px 12px 20px;
    display: flex;
    font-weight: 500;
    color: rgba(255,255,255,.2);
    align-items: center;
}
.project-maker-init .contents .user-interaction .file{
    display: flex;
    gap: 10px;

}
.project-maker-init .contents .user-interaction .file>div{
    height: 65px;
    border-radius: 5px;
}
.project-maker-init .contents .user-interaction .file .upload-img{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 12px 20px 12px 20px;
    background: #171717;
    align-items: center;
    gap: 10px;
}
.project-maker-init .contents .user-interaction .file .upload-img .upload-txt{
    color: rgba(255,255,255,.2);
    font-weight: 500;
    font-size: 1.13em;
}
.project-maker-init .contents .user-interaction .file .upload-img .img-icon {
    position: relative;
}
.project-maker-init .contents .user-interaction .file .upload-img .img-icon .guide{
    position: absolute;
    top: -8px;
    right: -10px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background: #459AFF;
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
.project-maker-init .contents .user-interaction .file .upload-img .img-icon .guide svg{

    width: 100%;
    height: 100%;
}

.project-maker-init .contents .user-interaction .file .upload-img .img-icon>svg{
    width: 35px;
    height: 35px;
    opacity: .5;
    cursor: pointer;
    transition: opacity .3s ease-in-out;
}
.project-maker-init .contents .user-interaction .file .upload-img .img-icon svg:hover{
    opacity :1;
}
.project-maker-init .contents .user-interaction .file .skip{
    background: #459AFF;
    width: 65%;
    display: flex;
    padding: 8px;
    font-size: 1.13em;
    font-weight: 500;
    user-select: none;
    color: #fff;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    filter: hue-rotate(0);
    transition: filter .3s ease-in-out;
}
.project-maker-init .contents .user-interaction .file .skip:hover{
    filter: hue-rotate(70deg);
}
.industry-category{
    width: 100%;
    height: 100%;
}
.industry-category .select-contain{
    padding: 3em;
    width: auto;
    height: auto;
}
.industry-category .select-contain .title{
    color: #fff;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.industry-category .select-contain .title .h h1{
    font-size: 2.50em;
}
.industry-category .select-contain .continue-btn{
    padding: 20px 35px 20px 35px;
    background:#459AFF;
    border-radius: 5px;
    font-size: 1.13em;
    user-select: none;
    cursor: pointer;
    font-weight: 500;
    filter: hue-rotate(0deg);
    
    transition: filter 0.3s ease-in-out;
}
.industry-category .select-contain .continue-btn:hover{
    filter: hue-rotate(90deg);
}
.industry-category .select-contain .items{
    margin-top: 3em;
    width: 100%;
    height: 100%;
}
.industry-category .select-contain .items>div{
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(6,1fr);
}
.industry-category .select-contain .items>div>div{
    height: 165px;
    border-radius: 10px;
    background: rgba(23,23,23,1);
    transition: background 0.15s ease-in-out;
}
.project-maker-init .prev{
    cursor: pointer;
}
.industry-category .select-contain .items>div>div:hover{
    background: rgba(23,23,23,0.5);
    cursor: pointer;
}
.industry-category .select-contain .items>div>div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.industry-category .select-contain .items>div>div p{
    padding-top: 30px;
    font-size: 1.13em;
    font-weight: 600;
    color: rgba(255,255,255,.8);
}
.industry-category .select-contain .items>div>div svg{
    width: 50px;
}
.researched{
    width: 100%;
    height: 100%;
}
.contents-researched{
    width: 100%;
    height: 100%;
    padding: 3em;
    
}

.contents-researched .title > div > div{
    overflow: hidden;
}
.contents-researched .title span{
    font-size: 2.50em;
    max-width: 400px;
    display: block;
    font-weight: bold;
    color: #fff;
}
.contents-researched .list{
    margin-top: 35px;
}
.contents-researched .list .wrap{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 25px;
}
.contents-researched .list .wrap .items{

    width: auto;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
    background: #171717;
}
.contents-researched .list .wrap .items.ex{
    cursor: pointer;
}
.contents-researched .list .wrap .items.ex .head-ex{
    width: 100%;
    display: flex;
    padding:  8px 12px;
    justify-content: space-between;
    background: #000;
    gap: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 1px solid rgba(255,255,255,.1);
    align-items: center;
}
.contents-researched .list .wrap .items.ex .head-ex .ex-logo{
    width: auto;
}
.contents-researched .list .wrap .items.ex .head-ex .ex-logo svg{
    width:15px;
    height: 15px;
}
.contents-researched .list .wrap .items.ex .head-ex .ex-nav{
    display: flex;
    gap: 10px;

}
.contents-researched .list .wrap .items.ex .head-ex .ex-nav >div{
   
    color: #fff;
    font-size:7px;
}
.contents-researched .list .wrap .items.ex .head-ex .ex-btn{
    padding: 8px;
    font-size: 6px;
    color: #fff;
    font-weight: 600;
    background: #459AFF;
    border-radius: 5px;
}
.contents-researched .list .wrap .items.ex .contain{
    padding: 12px;
}
.contents-researched .list .wrap .items.ex .contain .main > .ex-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 35px;
}
.contents-researched .list .wrap .items.ex .contain .main > .ex-title > .title p{
    color: #fff;
    font-size: 1.13em;
    font-weight: bold;
    text-transform: uppercase;
}
.contents-researched .list .wrap .items.ex .contain .main > .ex-title .ex-description p{
    font-size: 8px;
    color: rgba(255,255,255,.5);
    max-width: 150px;
}
.contents-researched .list .wrap .items.ex .contain .main > .ex-title .ex-description .btn{
    color: #fff;
    margin-top: 10px;
    font-weight: 600;
    background: #459AFF;
    padding: 5px;
    width: fit-content;
    border-radius: 3px;
    letter-spacing: 1px;
    font-size: 6px;
}
.ex-slider{
    font-size: 8px;
    color: rgba(255,255,255,.2);
    white-space: nowrap;
}
.ex-slider > div{
    padding: 2px;
}
.ex-slider > div:nth-child(1){
    color: rgba(255,255,255,1);
}
.contents-researched .list .wrap .items.ex .contain .main .box{
    margin-top: 12px;
    width: 100%;
    height: 200px;
    border-radius: 5px;
    background: rgba(255,255,255,.1);
    padding: 8px;
}
.contents-researched .list .wrap .items.ex .contain .main .box > div{
    width: 100%;
    height: 100%;
    background: #000;
    border-radius: 8px;
    border: 1px solid rgba(255,255,255,.1);
}
.contents-researched .list .wrap .items.ex .contain .main .box > div img{
    width: 100%;
    user-select: none;
    height: 100%;
    border-radius: inherit;
    object-fit: cover;
}
.contents-researched .list .wrap .items.ex .contain .main .box2{
    margin-top: 25px;
    display: grid;
    gap: 8px;
    grid-template-columns: 180px 65px 78px;
}
.contents-researched .list .wrap .items.ex .contain .main .box2 > div{
    height:100px;
    background: #2b2b2b;
    border-radius: 5px;
}
#ex-reference{
    position: relative;
    
}