.createContain{
    width: 100%;
    height: 100%;
    overflow: hidden;

}
.createContain .createWrapper{
    width: 200%;
    height: 100%;
    position: relative;
    display: flex;
    
}
.createContain .createWrapper .common{
    width: 100%;
    height: auto;

}
.createContain .createWrapper .common .createHeader{
    width: 100%;
    padding: 25px;
    background: #171717;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
}
.createContain .createWrapper .common .createHeader .headLogo{
    display: flex;
    justify-content: center;
}
.createContain .createWrapper .projectInit .userPrompt{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    padding: 25px;
    flex-direction: column;
    margin-top: -100px;
}
.createContain .createWrapper .projectInit .userPrompt .tCommon{
    text-align: center;
    padding-bottom: 35px;
}
.createContain .createWrapper .projectInit .userPrompt .tCommon h1{
    font-size: 3em;
    font-weight: 800;
    color: rgba(255,255,255,1);
}
.createContain .createWrapper .projectInit .userPrompt .tCommon p{
    color: rgba(255,255,255,.5);
    font-size: 1.25em;
}
.createContain .createWrapper .projectInit .form{
    width: auto;
    height: auto;
}
.createContain .createWrapper .projectInit .form .inputprojectName{
    width: 400px;
    height: 60px;
    overflow: hidden;
    border-radius: 5px;
}
.createContain .createWrapper .projectInit .form .inputprojectName input{
    width: 100%;
    height: 100%;
    outline: none;
    border: 0px solid transparent;
    transition: .3s;
    background: rgba(255,255,255,.10);
    font-size: 1.13em;
    padding: 8px 12px;
    color: rgba(255,255,255,.8);
    border-radius: 5px;
    display: flex;
    align-items: center;
}
.createContain .createWrapper .projectInit .form .inputprojectName input:focus{
    border: 1px solid rgba(255,255,255,.35);
}
.createContain .createWrapper .projectInit .form .uploaderFile{
    display: flex;
    gap: 10px;
    margin-top: 10px;
}
.createContain .createWrapper .projectInit .form .uploaderFile .upload{
    width: 65%;
    background: rgba(255,255,255,.10);
    height: 60px;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
}
.createContain .createWrapper .projectInit .form .uploaderFile .upload .dropzone{
    display: flex;
    align-items: center;
    padding: 8px 12px;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}
.createContain .createWrapper .projectInit .form .uploaderFile .upload .dropzone .placeholder p{
    color: rgba(255,255,255,.5);
}
.createContain .createWrapper .projectInit .form .uploaderFile .next{
    width: 35%;
    color: rgba(255,255,255,1);
    background: #459AFF;
    padding: 8px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: 1.13em;
    font-weight: 500;
    cursor: pointer;
    filter: hue-rotate(0);
    transition: .3s;
}
.createContain .createWrapper .projectInit .form .uploaderFile .next:hover{
    filter: hue-rotate(90deg);
}
.desiredReferenced{
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    align-items: center;
    padding: 15px;
}
.desiredReferenced .count p{
    color: rgba(255,255,255,.35);
    padding-left: 5px;
}