.createContain{
    width: 100%;
    overflow: hidden;
    height: 100%;
}

.createContain .createHead{
    width: 100%;
    position: absolute;
    z-index: 555;
    padding: 25px;
}
.createContain   .createHead .logo svg{
    height: auto;
    width: 100px;
}
.createContain  .userPrompt{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    justify-content: center;
    padding: 25px;
    top: -100px;
}
.createContain  .userPrompt .form .userCommentForm .comment{
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: space-between;
    padding-bottom: 20px;
}
.createContain  .userPrompt .form .userCommentForm .comment svg{
    vertical-align: middle;
}
.createContain  .userPrompt .tCommon{
    text-align: center;
}
.createContain  .userPrompt .titles{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
.createContain  .userPrompt .tCommon h1{
    font-size: 3em;
    font-weight: 700;
    color: rgba(255,255,255,1);
    letter-spacing: 0.5px;
}
.createContain  .userPrompt .tCommon p{
    color: rgba(255,255,255,.7);
    font-size: 1em;
    max-width: 410px;
    line-height: 120%;
}
.createContain  .form{
    min-width: 100px;
    max-width: 100%;
    width: 650px;
    height: auto;
    overflow: hidden;
    padding: 20px;
    background: rgba(255,255,255,.1);
    margin-top: 5em;
    border-radius: 10px;
}
.createContain  .form .userCommentForm .comment .prompt{
    background: none;
    border: none;
    outline: none;
    color: #fff;
    font-size: 16px;
    height: 100%;
    padding-left: 5px;
    width: 100%;
}

.desiredReferenced{
    width: 100%;
    display: flex;
}

.emptyText{
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.emptyText p{
    color: #fff;
    font-weight: 500;
    font-size: 16px;
}
.createContain  .form .interaction{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 35px;
    flex-wrap: wrap;
    padding-top: 20px;
    border-top: 1px solid rgba(255,255,255,.15)
}
.createContain  .form .interaction .send{
    background: #E960FF;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    outline: none;
    display: flex;
    gap: 5px;
    align-items: center;
    transition: background 0.25s;
}
.createContain  .form .interaction .send span{
    color: #fff;
    font-size: 14px;
}
.createContain  .form .interaction .send:hover{
    background: #EE87FF;
}
.createContain  .form .fileUploader{
    display: flex;
    gap: 10px;
}
.placeholder p{
    color: #fff;
    white-space: nowrap;
    font-size: 12px;
}
.dropzone{
    display: flex;
    flex-direction: row-reverse;
    gap: 8px;
    width: 100%;
    align-items: center;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    background: var(--background-color-blue);
    flex-wrap: nowrap;
}
.dropzone .imgIcon svg{
    height: 12px;
    width: auto;
}
.desiredReferenced .img{
    display: flex;
    align-items: center;
}
.viewContain{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 25vh;
    background: #171717;
    border-top: 1px solid rgba(255,255,255,.2);
}
.viewContain .viewWrapper{
    
    width: 100%;
    height: 100%;
    padding: 15px;
}
.imageUploadBtn{
    display: flex;
    width: 100%;
    align-items: center;
    gap: 10px;
}
.Swiper {
    cursor: grab;
    width: 100%;
    height: 100%;
}
.swiperSlide {
    height: 100%;
    width: auto !important;
}
.swiperSlide .imagesWrapper{
    width: 300px;
    height: calc(25vh - 30px);
    position: relative;
}
.swiperSlide img{
    
    width: 100%;
    
    border-radius: 10px;
    height: 100%;
    object-fit: cover;
}
.icons{
    display: flex;
    gap: 15px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    justify-content: flex-end;
    padding: 10px;
    background: transparent;
    opacity: 0;
    transition: .25s;
}
.swiperSlide:hover .imagesWrapper .icons{
    opacity: 1;
    background: rgba(0,0,0,.25);
}
.icons > div{
    cursor: pointer;
    height: fit-content;
}
